<div class="row">
  <div class="col py-3">
    <h5 class="card-title__secondary mb-3 ">
      {{ label }}
    </h5>
    <h3>
      {{ count }}
      <loading-skeleton *ngIf="count === undefined" [loadingWidth]="'150px'"></loading-skeleton>
    </h3>
  </div>
</div>
<div class="row">
  <div class="col py-3">
    <chart-item
      *ngIf="chartDatasets"
      [datasets]="chartDatasets"
      [labels]="chartLabels"
      [options]="chartOptions"
      chartType="bar"
      [colorOptions]="{ gradientFrom: 'rgba(46,91,255,0.09)', borderWidth: 1 }"
    ></chart-item>
  </div>
</div>
