::ng-deep tezblock-table {
  .table-hover tbody tr.table-extended__active:hover {
    background-color: transparent;
  }

  #sortingButton {
    color: black;
  }

  #sortingColumn {
    color: black;
  }

  tr td:first-of-type,
  tr th:first-of-type {
    padding-left: 16px;
  }

  @media (max-width: 576px) {
    tr td:first-of-type,
    tr th:first-of-type {
      padding-left: 0;
    }
  }
}
