<div class="container p-0" *ngIf="loading$ | async; else loaded">
  <table class="table" style="border-collapse: initial">
    <thead>
      <tr>
        <loading-skeleton [class]="'ph'"></loading-skeleton>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="p-0">
          <loading-skeleton [class]="'ph'"></loading-skeleton>
        </td>
      </tr>
      <tr>
        <td class="p-0">
          <loading-skeleton [class]="'ph'"></loading-skeleton>
        </td>
      </tr>
      <tr>
        <td class="p-0">
          <loading-skeleton [class]="'ph'"></loading-skeleton>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #loaded>
  <div class="table-responsive mb-3">
    <table class="table table-hover">
      <ng-container *ngIf="transactions">
        <ng-container *ngIf="transactions.length > 0; then thenTemplate; else elseTemplate"></ng-container>
      </ng-container>
      <ng-template #thenTemplate>
        <thead>
          <tr>
            <th *ngFor="let col of config" scope="col" [width]="col.width">
              {{ col.name }}
            </th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="transactions">
            <ng-container *ngFor="let transaction of transactions; let i = index">
              <tr [ngClass]="{ 'table-danger': transaction.status && transaction.status !== 'applied' }" (click)="expand(transaction)">
                <!--tx status is always 'null' for endorsements-->
                <td *ngFor="let col of config; let j = index">
                  <!--<ng-container *ngTemplateOutlet="dynamic; context: transaction"></ng-container>-->
                  <ng-template #dynamic></ng-template>
                </td>
              </tr>
              <!-- TODO: only show in tables with extended-table-cell and row/extended-table-cell has been clicked  -->
              <tr class="table-extended__active" *ngIf="transaction.expand">
                <td colspan="10" class="py-3 px-0">
                  <!-- <div class="extended-table__header pl-sm-3"><p>Cycle 161</p></div> -->
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>
                            Delegator Account
                          </th>
                          <th>
                            Payout
                          </th>
                          <th>
                            Share
                          </th>
                        </tr>
                      </thead>
                      <tbody *ngFor="let payout of transaction.payouts">
                        <tr>
                          <td>
                            <address-cell [data]="payout.delegator"></address-cell>
                          </td>
                          <td>
                            <amount-cell [data]="payout.payout"></amount-cell>
                          </td>
                          <td>
                            {{ payout.share | percentage }}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </td>
              </tr>
            </ng-container>
          </ng-container>
        </tbody>
      </ng-template>
      <ng-template #elseTemplate>
        <thead width="180">
          <tr><th>No Transactions</th></tr>
        </thead>
      </ng-template>
    </table>
    <button *ngIf="showLoadMoreButton" type="button" class="btn btn-sm btn-primary-light w-100" (click)="loadMore()">Load more</button>
  </div>
</ng-template>
