.tooltip2 {
    display: none;
    position: absolute;
    padding: 5px;
    color: white;
    font-size: 0.75em;
    background-color: black;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 5px;

    z-index: 1000;
  }
