<footer class="text-white py-4">
  <div class="container">
    <div class="row justify-content-md-between py-3">
      <div class="col-12 col-sm-4">
        <h1 class="pb-3">ꜩ</h1>
        <p class="text-white-50">
          tezblock is a block explorer for Tezos an open-source platform for assets and applications backed by a global community of
          validators, researchers, and builders.
        </p>
      </div>
      <div class="col-12 col-sm-3">
        <h6>Behind tezblock</h6>
        <hr />
        <ul class="list-group list-group-flush mb-0">
          <li>
            <a class="list-group-item text-white-50" href="https://airgap.it" target="_blank">About AirGap</a>
          </li>
          <li>
            <a class="list-group-item text-white-50" href="https://papers.ch/en/" target="_blank">About Papers</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-sm-3">
        <h6>Social Links</h6>
        <hr />
        <ul class="list-group list-group-flush mb-0">
          <li>
            <a class="list-group-item text-white-50" href="https://twitter.com/AirGap_it" target="_blank">
              <fa-icon [icon]="icon('twitter')" class="mr-1"></fa-icon>
              Twitter
            </a>
          </li>
          <li>
            <a class="list-group-item text-white-50" href="https://t.me/AirGap" target="_blank">
              <fa-icon [icon]="'telegram' | iconPipe" class="mr-1"></fa-icon>
              Telegram
            </a>
          </li>
          <li>
            <a class="list-group-item text-white-50" href="https://medium.com/airgap-it" target="_blank">
              <fa-icon [icon]="icon('medium')" class="mr-1"></fa-icon>
              Medium
            </a>
          </li>
          <li>
            <a class="list-group-item text-white-50" href="https://github.com/airgap-it" target="_blank">
              <fa-icon [icon]="icon('github')" class="mr-1"></fa-icon>
              GitHub
            </a>
          </li>
        </ul>
      </div>
    </div>
    <hr />
    <div class="row justify-content-between align-items-center pt-2">
      <div class="col-md-6 mb-2 mb-md-0">
        <a href="https://airgap.it" target="_blank">
          <img src="/assets/img/Airgap_Logo_sideways_white_White.svg" width="124px" />
        </a>
      </div>
      <div class="col-md-6 text-md-right">
        <p class="mb-0 text-white">
          Donations
          <a class="text-white-50" href="/account/tz1hrHoK11TBz3HwWD2YZyZVWUyAg44h3eqd">tz1hrHoK11TBz3HwWD2YZyZVWUyAg44h3eqd</a>
        </p>
      </div>
    </div>
  </div>
</footer>
