::ng-deep app-footer {
  footer {
    a,
    p {
      font-size: 12px;
    }
    .list-group {
      list-style: none;
      .list-group-item {
        background: transparent;
        border: none;
      }
    }
  }
}
