apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: tezblock-frontend
  namespace: tezblock
  annotations:
    kubernetes.io/ingress.class: "nginx"
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
spec:
  tls:
    - hosts:
        - tezblock.dev.gke.papers.tech
        - dev.tezblock.io
      secretName: tezblock-dev-tls
  rules:
    - host: tezblock.dev.gke.papers.tech
      http:
        paths:
          - backend:
              serviceName: tezblock-frontend
              servicePort: 80
    - host: dev.tezblock.io
      http:
        paths:
          - backend:
              serviceName: tezblock-frontend
              servicePort: 80
