<div class="mb-5 pt-5">
  <div class="container p-0">
    <ng-container *ngIf="contract$ | async as contract; else noContract">
      <div class="row mb-4">
        <!-- TODO: create component ( the same as in account-detail ) -->
        <div class="col-lg-6 mb-4 mb-lg-0 card__top">
          <div class="card h-100 pt-3 ">
            <div class="card-body p-4 ">
              <div class="row mb-4">
                <div class="d-flex align-items-end col-md-2 pr-0 mb-sm-0 pb-1 pb-sm-3">
                  <identicon [address]="contract.id" [sizeLarge]="true"></identicon>
                  <a
                    (click)="copyToClipboard(contract.id)"
                    value="click to copy"
                    class="btn btn-sm btn-icon btn-light rounded-circle ml-1 d-inline-block d-sm-none"
                  >
                    <fa-icon [icon]="'copy' | iconPipe" class="text-secondary"></fa-icon>
                  </a>
                  <a class="btn btn-sm btn-icon btn-light rounded-circle ml-1 d-inline-block d-sm-none" (click)="showQr()">
                    <fa-icon [icon]="'qrcode' | iconPipe" class="text-secondary"></fa-icon>
                  </a>
                  <a class="btn btn-sm btn-icon btn-light rounded-circle ml-1 d-inline-block d-sm-none" (click)="showTelegramModal()">
                    <fa-icon [icon]="'bell' | iconPipe" class="text-secondary"></fa-icon>
                  </a>
                </div>
                <div class="col-md-10 pl-sm-0 pr-0 address--item__container">
                  <address-item
                    class="d-inline-flex"
                    [address]="contract.id"
                    [options]="{ showFullAddress: true, forceIdenticon: true }"
                    [clickableButton]="false"
                  ></address-item>

                  <a
                    [@changeBtnColor]="copyToClipboardState$ | async"
                    (click)="copyToClipboard(contract.id)"
                    value="click to copy"
                    class="btn btn-sm btn-icon btn-light rounded-circle ml-1 d-none d-sm-inline-block"
                  >
                    <fa-icon [icon]="'copy' | iconPipe" class="text-secondary"></fa-icon>
                  </a>
                  <a class="btn btn-sm btn-icon btn-light rounded-circle ml-1 d-none d-sm-inline-block" (click)="showQr()">
                    <fa-icon [icon]="'qrcode' | iconPipe" class="text-secondary"></fa-icon>
                  </a>
                  <a class="btn btn-sm btn-icon btn-light rounded-circle ml-1 d-none d-sm-inline-block" (click)="showTelegramModal()">
                    <fa-icon [icon]="'bell' | iconPipe" class="text-secondary"></fa-icon>
                  </a>
                  <div>
                    <address-item
                      *ngIf="hasAlias$ | async"
                      class="d-inline-flex"
                      [address]="contract.id"
                      [options]="{ hideIdenticon: true }"
                    ></address-item>
                    <span *ngIf="(revealed$ | async) === 'Revealed'" class="badge badge-pill badge-primary-light ml-1">
                      {{ 'contract-detail.revealed' | translate }}
                    </span>
                    <span *ngIf="(revealed$ | async) === 'Not Revealed'" class="badge badge-pill badge-primary-light ml-1">
                      {{ 'contract-detail.not-revealed' | translate }}
                    </span>
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-5">
                  <p class="text-secondary mb-0">{{ 'contract-detail.name' | translate }}</p>
                </div>
                <div class="col-md-9">
                  <p class="mb-0">{{ contract.name }}</p>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-5">
                  <p class="text-secondary mb-0">{{ 'contract-detail.symbol' | translate }}</p>
                </div>
                <div class="col-md-9">
                  <p class="mb-0">{{ contract.symbol }}</p>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-5">
                  <p class="text-secondary mb-0">{{ 'contract-detail.total-supply' | translate }}</p>
                </div>
                <div class="col-md-9">
                  <p class="mb-0">
                    <!-- TODO: remove showFiatValue: contract.showFiatValue || false with ... -->
                    <amount-cell
                      [data]="contract.totalSupply"
                      [options]="{
                        symbol: contract.symbol,
                        showFiatValue: showFiatValue$ | async
                      }"
                    ></amount-cell>
                  </p>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-5">
                  <p class="text-secondary mb-0">{{ 'contract-detail.decimals' | translate }}</p>
                </div>
                <div class="col-md-9">
                  {{ contract.decimals }}
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-5">
                  <p class="text-secondary mb-0">{{ 'contract-detail.manager' | translate }}</p>
                </div>
                <div class="col-md-9">
                  <address-item [address]="manager$ | async"></address-item>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class=" col-lg-6 mb-4 mb-lg-0 card__top">
          <div class="card h-100 pt-3 ">
            <div class="card-body right p-4">
              <h5 class="card-title mb-4 ">
                {{ 'contract-detail.contract-overview' | translate }}
              </h5>

              <div class="row mb-3">
                <div class=" col-md-5">
                  <p class="text-secondary mb-0">{{ 'contract-detail.description' | translate }}</p>
                </div>
                <div class="col-md-9">
                  <p class="mb-0">{{ contract.description }}</p>
                </div>
              </div>

              <div class="row mb-3">
                <div class=" col-md-5">
                  <p class="text-secondary mb-0">{{ 'contract-detail.website' | translate }}</p>
                </div>
                <div class="col-md-9">
                  <a [href]="website$ | async" target="_blank">
                    {{ website$ | async }}
                  </a>
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-md-5">
                  <p class="text-secondary mb-0">{{ 'contract-detail.social-profiles' | translate }}</p>
                </div>
                <div class=" col-md-9">
                  <a
                    *ngFor="let social of contract.socials"
                    class="btn btn-sm btn-icon btn-light rounded-circle ml-1 d-sm-inline-block"
                    [href]="social.url"
                    target="_blank"
                  >
                    <fa-icon [icon]="social.type | iconPipe" class="text-secondary"></fa-icon>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card h-100">
        <div class="card-body p-4 ">
          <div class="row">
            <div class="col px-2">
              <tabbed-table
                [tabs]="tabs"
                [page]="'token-contract'"
                [loading]="loading$ | async"
                [data]="transactions$ | async"
                (tabClicked)="tabSelected($event)"
                (loadMore)="loadMore()"
                [downloadable]="true"
                (onSort)="sortBy($event)"
                [orderBy]="orderBy$ | async"
              ></tabbed-table>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-template #noContract>
      <div class="card p-3" *ngIf="(contract$ | async) === null">
        <h5 class="card-title mb-4 ">
          {{ 'contract-detail.invalid-address' | translate }}
        </h5>
        <p>
          {{ 'contract-detail.invalid-address_text' | translate }}
        </p>
      </div>
    </ng-template>
  </div>
</div>
