<ng-template #value let-context>
  ${{
    context | async | number: getPrecision(context | async) | decimalsFormatter
  }}
</ng-template>
<ng-template #noHeader>
  <ng-container
    *ngTemplateOutlet="value; context: { $implicit: value$ }"
  ></ng-container>
</ng-template>

<div class="pl-sm-0 d-flex align-items-center">
  <h5 *ngIf="useHeader; else noHeader" class="d-inline-block m-0">
    <ng-container
      *ngTemplateOutlet="value; context: { $implicit: value$ }"
    ></ng-container>
  </h5>
  <span
    class="badge badge-pill ml-2"
    [ngClass]="{
      'badge-primary': (count$ | async) > 0,
      'badge-primary-light badge-disabled': (count$ | async) === 0
    }"
  >
    {{ count$ | async }}
  </span>
</div>
