<div class="card-body p-4">
  <h5 class="card-title mb-4 ">
    Block Details
  </h5>
  <div class="row mb-3">
    <div class="col-md-3">
      <p class="text-secondary mb-0">
        <tooltip-item
          [title]="'Block Height'"
          [tooltip]="'The block height, which indicates the length of the blockchain, increases after the addition of the new block.'"
        ></tooltip-item>
      </p>
    </div>

    <div class=" col-md-9" *ngIf="wrapperBlock$ | async as block; else loadingTemplate">
      {{ block.level }}
      <ng-container *ngIf="confirmations$ | async as confirmations">
        <span *ngIf="confirmations > 1" class="text-secondary ml-1">{{ confirmations }} Block Confirmation</span>
      </ng-container>
    </div>
    <ng-template #loadingTemplate>
      <div class=" col-md-9">
        <loading-skeleton [loadingWidth]="'360px'"></loading-skeleton>
      </div>
    </ng-template>
  </div>
  <div class="row mb-3">
    <div class="col-md-3">
      <p class="text-secondary mb-0">
        <tooltip-item [title]="'Baker'" [tooltip]="'A Baker takes part in the validation of the network.'"></tooltip-item>
      </p>
    </div>
    <div class=" col-md-9" *ngIf="wrapperBlock$ | async as block; else loadingTemplate">
      <address-item [address]="block.baker" ng-href="#here"></address-item>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-3">
      <p class="text-secondary mb-0">
        <tooltip-item [title]="'Timestamp'" [tooltip]="'The date an time at which a block was created.'"></tooltip-item>
      </p>
    </div>
    <div class=" col-md-9" *ngIf="wrapperBlock$ | async as block; else loadingTemplate">
      <p class="mb-0">{{ block.timestamp | amTimeAgo }} ({{ block.timestamp | date: 'MMMM-d-y h:mm:ss a z' }})</p>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-3">
      <p class="text-secondary mb-0">
        <tooltip-item [title]="'Value'" [tooltip]="'The total amount of Tezzies included in transactions for this block.'"></tooltip-item>
      </p>
    </div>
    <ng-container *ngIf="wrapperBlock$ | async as block; else loadingTemplate">
      <div
        class=" col-md-9"
        *ngIf="
          (block.volume | amountConverter: { protocolIdentifier: 'xtz', maxDigits: 10, fontSmall: true, fontColor: true }) > '0';
          else hideValue
        "
      >
        <p class="mb-0">
          <span
            class="d-inline-block"
            [innerHtml]="
              block.volume | amountConverter: { protocolIdentifier: 'xtz', maxDigits: 10, fontSmall: true, fontColor: true } | safeHtml
            "
          ></span>
          ꜩ
          <ng-container *ngIf="fiatInfo$ | async as fiatInfo">
            <span class="badge badge-pill badge-primary-light ml-1">
              {{ 1 | currencySymbol: { currInfo: fiatInfo } }}
              {{ block.volume | currencyConverter: { currInfo: fiatInfo, protocolIdentifier: 'xtz' } | number: '1.0-5' }}
            </span>
          </ng-container>
        </p>
      </div>
    </ng-container>
  </div>
  <div class="row mb-3">
    <div class="col-md-3">
      <p class="text-secondary mb-0">
        <tooltip-item
          [title]="'Transaction Fees'"
          [tooltip]="'The total amount of fees spent for transactions in this block.'"
        ></tooltip-item>
      </p>
    </div>
    <ng-container *ngIf="wrapperBlock$ | async as block; else loadingTemplate">
      <div
        class=" col-md-9"
        *ngIf="
          (block.fee | amountConverter: { protocolIdentifier: 'xtz', maxDigits: 10, fontSmall: true, fontColor: true }) > '0';
          else hideValue
        "
      >
        <p class="mb-0">
          <span
            class="d-inline-block"
            [innerHtml]="
              block.fee | amountConverter: { protocolIdentifier: 'xtz', maxDigits: 10, fontSmall: true, fontColor: true } | safeHtml
            "
          ></span>
          ꜩ
          <ng-container *ngIf="fiatInfo$ | async as fiatInfo">
            <span class="badge badge-pill badge-primary-light ml-1">
              {{ 1 | currencySymbol: { currInfo: fiatInfo } }}
              {{ block.fee | currencyConverter: { currInfo: fiatInfo, protocolIdentifier: 'xtz' } | number: '1.0-8' }}
            </span>
          </ng-container>
        </p>
      </div>
    </ng-container>
    <ng-template #hideValue>
      <div class=" col-md-9">
        <span>0</span>
      </div>
    </ng-template>
  </div>
  <button
    type="button"
    class="btn btn-link p-0 collapse--btn"
    (click)="isCollapsed = !isCollapsed"
    [attr.aria-expanded]="!isCollapsed"
    aria-controls="collapseBasic"
    [ngClass]="{ 'btn--rotated': !isCollapsed }"
  >
    <span>{{ isCollapsed ? 'More' : 'Less' }}</span>
    Details
    <fa-icon [icon]="'longArrowAltDown' | iconPipe" class="ml-1"></fa-icon>
  </button>
  <div id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">
    <div class="row mt-3 mb-3">
      <div class="col-md-3">
        <p class="text-secondary mb-0">
          <tooltip-item
            [title]="'Endorsements'"
            [tooltip]="'A block has to be enndorsed by other bakers, up to 32 bakers confirm that this block is valid.'"
          ></tooltip-item>
        </p>
      </div>
      <ng-container *ngIf="blockLoading$ | async; then loadingTemplate; else loaded"></ng-container>
      <ng-template #loaded>
        <div class=" col-md-9">
          <p class="mb-0">{{ endorsements$ | async }}</p>
        </div>
      </ng-template>
    </div>
    <div class="row mb-3">
      <div class="col-md-3">
        <p class="text-secondary mb-0">
          <tooltip-item
            [title]="'Cycle'"
            [tooltip]="
              'A Cycle is a set of consecutive blocks consisting out of 4095 blocks. Cycles are used as a unit of “time” in the block chain. For example, the different phases in the amendment voting procedures are defined based on cycles.'
            "
          ></tooltip-item>
        </p>
      </div>
      <div class=" col-md-9" *ngIf="wrapperBlock$ | async as block; else loadingTemplate">
        <p class="mb-0">{{ block.meta_cycle }}</p>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-3">
        <p class="text-secondary mb-0">
          <tooltip-item [title]="'Cycle Position'" [tooltip]="'The position in number of blocks out of 4095 blocks.'"></tooltip-item>
        </p>
      </div>
      <div class=" col-md-9" *ngIf="wrapperBlock$ | async as block; else loadingTemplate">
        <p class="mb-0">{{ block.meta_cycle_position }} of 4095</p>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-3">
        <p class="text-secondary mb-0">Block Hash</p>
      </div>
      <div class=" col-md-9" *ngIf="wrapperBlock$ | async as block; else loadingTemplate">
        <p class="mb-0">{{ block.hash }}</p>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-3">
        <p class="text-secondary mb-0">Signature</p>
      </div>
      <div class=" col-md-9" *ngIf="wrapperBlock$ | async as block; else loadingTemplate">
        <p class="mb-0">{{ block.signature }}</p>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-3">
        <p class="text-secondary mb-0">
          <tooltip-item
            [title]="'Fitness'"
            [tooltip]="
              'Fitness is a metric used to compare contexts. For example, when several blocks claim to be heads of the chain, their context’s fitness are compared. The block with the highest fitness is selected as the head of the chain.'
            "
          ></tooltip-item>
        </p>
      </div>
      <div class=" col-md-9" *ngIf="wrapperBlock$ | async as block; else loadingTemplate">
        <p class="mb-0">{{ block.fitness }}</p>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-3">
        <p class="text-secondary mb-0">
          <tooltip-item
            [title]="'Protocol'"
            [tooltip]="'The active protcol of this block. The protocol can be changed through the protocol amendment proccess.'"
          ></tooltip-item>
        </p>
      </div>
      <div class=" col-md-9" *ngIf="wrapperBlock$ | async as block; else loadingTemplate">
        <p class="mb-0">{{ block.protocol }}</p>
      </div>
    </div>
  </div>
</div>
