<span
  class="d-inline-block"
  [innerHtml]="data.amount | amountConverter: { protocolIdentifier: 'xtz', maxDigits: 6, fontSmall: true, fontColor: true } | safeHtml"
></span>
{{ options?.symbol || 'ꜩ' }}
<ng-container *ngIf="enableComparison; else noComparison">
  <ng-container *ngIf="showOldValue">
    <span
      *ngIf="options?.showFiatValue"
      class="badge badge-pill badge-primary ml-1 cursor--pointer"
      tooltip="Displaying value at time of transaction, click to display current value"
      (click)="tooltipClick(); dayDifference(data.timestamp)"
    >
      {{ 1 | currencySymbol: { currInfo: fiatCurrencyInfo$ | async } }}
      {{ historicFiatAmount | currencyConverter: { currInfo: fiatCurrencyInfo$ | async, protocolIdentifier: 'xtz' } | number: '1.0-2' }}
    </span>
  </ng-container>
  <ng-container *ngIf="!showOldValue">
    <span
      *ngIf="options?.showFiatValue"
      class="badge badge-pill badge-primary-light ml-1 cursor--pointer"
      tooltip="Displaying current value, click to display value at time of transaction"
      (click)="tooltipClick(); dayDifference(data.timestamp)"
    >
      {{ 1 | currencySymbol: { currInfo: fiatCurrencyInfo$ | async } }}
      {{ data.amount | currencyConverter: { currInfo: fiatCurrencyInfo$ | async, protocolIdentifier: 'xtz' } | number: '1.0-2' }}
    </span>
  </ng-container>
</ng-container>
<ng-template #noComparison>
  <span *ngIf="options?.showFiatValue" class="badge badge-pill badge-primary-light ml-1">
    {{ 1 | currencySymbol: { currInfo: fiatCurrencyInfo$ | async } }}
    {{ data.amount | currencyConverter: { currInfo: fiatCurrencyInfo$ | async, protocolIdentifier: 'xtz' } | number: '1.0-2' }}
  </span>
</ng-template>
