<span class="d-inline-block">
  <ng-container *ngIf="amountPipedTrailingChars; else noDecimals">
    <span class="d-flex align-items-baseline">
      {{ amountPipedLeadingChars }}.
      <span
        [ngStyle]="fontSmall ? { 'font-size': '90%' } : null"
        [ngClass]="{ 'text-muted': fontColor }"
      >
        {{ amountPipedTrailingChars }}
      </span>
    </span>
  </ng-container>
  <ng-template #noDecimals>
    {{ amountPipedLeadingChars }}
  </ng-template>
</span>
{{ options?.symbol || 'ꜩ' }}

<ng-container *ngIf="enableComparison; else noComparison">
  <ng-container *ngIf="showOldValue">
    <span
      *ngIf="options?.showFiatValue"
      class="badge badge-pill badge-primary ml-1 cursor--pointer"
      tooltip="Displaying value at time of transaction, click to display current value"
      (click)="tooltipClick()"
      [adaptivePosition]="false"
    >
      {{ 1 | currencySymbol: { currInfo: { symbol: '$' } } }}
      {{ historicAmount | decimalsFormatter }}
    </span>
  </ng-container>
  <ng-container *ngIf="!showOldValue">
    <span
      *ngIf="options?.showFiatValue"
      class="badge badge-pill badge-primary-light ml-1 cursor--pointer"
      tooltip="Displaying current value, click to display value at time of transaction"
      (click)="tooltipClick()"
      [adaptivePosition]="false"
    >
      {{ 1 | currencySymbol: { currInfo: { symbol: '$' } } }}
      {{ currencyAmount$ | async | decimalsFormatter }}
    </span>
  </ng-container>
</ng-container>
<ng-template #noComparison>
  <span
    *ngIf="options?.showFiatValue"
    class="badge badge-pill badge-primary-light ml-1"
  >
    {{ 1 | currencySymbol: { currInfo: { symbol: '$' } } }}
    {{ currencyAmount$ | async | decimalsFormatter }}
  </span>
</ng-template>
