<tabset *ngIf="tabs && tabs.length > 0" class="w-100">
  <tab
    *ngFor="let tab of tabs; let i = index; trackBy: trackByFn"
    [active]="tab.active"
    [disabled]="tab.disabled()"
    (selectTab)="onSelectTab(tab)"
  >
    <ng-template tabHeading>
      <button
        type="button"
        class="btn p-0 mr-1"
        [ngClass]="tab.active ? 'btn-link' : ''"
      >
        <span class="d-none d-sm-inline-block">
          {{ tab.title | translate }}
        </span>
        <fa-icon
          *ngIf="tab.icon"
          [icon]="tab.icon"
          size="lg"
          class="d-sm-none"
        ></fa-icon>
      </button>
      <span
        class="badge badge-pill d-none d-sm-inline-block"
        [ngClass]="tab.active ? 'badge-primary' : 'badge-primary-light'"
      >
        {{ tab.count || tab.emptySign || 0 }}
      </span>
    </ng-template>
    <h6 class="pt-3 mr-1 d-sm-none">
      <span>
        {{ tab.title | translate }}
      </span>
      <span class="badge badge-pill badge-primary">
        {{ tab.count || tab.emptySign || 0 }}
      </span>
    </h6>
  </tab>

  <ng-content></ng-content>

  <tezblock-table
    [columns]="selectedTab.columns"
    [data]="data"
    [loading]="loading"
    [pagination]="data && selectedTab && data.length < selectedTab.count"
    (onLoadMore)="onLoadMore()"
    (downloadClicked)="download()"
    [downloadable]="downloadable"
    [enableDownload]="enableDownload"
    (onSort)="sortTransactions($event)"
    [orderBy]="orderBy"
    [noDataLabel]="noDataLabel"
  ></tezblock-table>
</tabset>
