<tabset *ngIf="tabs && tabs.length > 0" class="w-100">
  <tab *ngFor="let tab of tabs; let i = index" [disabled]="tab.count === 0" (selectTab)="selectTab(tab)">
    <ng-template tabHeading>
      <button type="button" class="btn p-0 mr-1" [ngClass]="tab.active ? 'btn-link' : ''">
        <span class="d-none d-sm-inline-block">
          {{ tab.title }}
        </span>
        <fa-icon [icon]="tab.icon" size="lg" class="d-sm-none "></fa-icon>
      </button>
      <span class="badge badge-pill d-none d-sm-inline-block" [ngClass]="tab.active ? 'badge-primary' : 'badge-primary-light'">
        {{ tab.count }}
      </span>
    </ng-template>
    <h6 class="pt-3 pl-2 mr-1 d-sm-none">
      <span>
        {{ tab.title }}
      </span>
      <span class="badge badge-pill badge-primary">
        {{ tab.count }}
      </span>
    </h6>
  </tab>

  <tezblock-table
    [loading]="loading"
    [data]="data"
    [page]="page"
    [type]="selectedTab.kind"
    [showLoadMoreButton]="!(loading | async) && ((data | async) && (data | async).length !== selectedTab.count)"
    (loadMoreClicked)="loadMore()"
  ></tezblock-table>
</tabset>
