<tabset *ngIf="tabs && tabs.length > 0" class="w-100">
  <tab *ngFor="let tab of tabs; let i = index" [active]="tab.active" [disabled]="tab.count === 0" (selectTab)="onSelectTab(tab)">
    <ng-template tabHeading>
      <button type="button" class="btn p-0 mr-1" [ngClass]="tab.active ? 'btn-link' : ''">
        <span class="d-none d-sm-inline-block">
          {{ tab.title }}
        </span>
        <fa-icon [icon]="tab.icon" size="lg" class="d-sm-none "></fa-icon>
      </button>
      <span class="badge badge-pill d-none d-sm-inline-block" [ngClass]="tab.active ? 'badge-primary' : 'badge-primary-light'">
        {{ tab.count || 0 }}
      </span>
    </ng-template>
    <h6 class="pt-3 mr-1 d-sm-none">
      <span>
        {{ tab.title }}
      </span>
      <span class="badge badge-pill badge-primary">
        {{ tab.count || 0 }}
      </span>
    </h6>
  </tab>

  <tezblock-table
    [columns]="selectedTab.columns"
    [data]="data | async"
    [loading]="loading | async"
    [pagination]="(data | async) && selectedTab && (data | async)?.length < selectedTab.count"
    (onLoadMore)="onLoadMore()"
  ></tezblock-table>
</tabset>
