<div class="modal-header">
  <h5 class="modal-title pull-left">
    {{ 'telegram-modal-component.title' | translate }}
  </h5>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  {{ 'telegram-modal-component.text_1' | translate }}
  <a href="https://tzsnt.fr/" target="_blank">{{ 'telegram-modal-component.telegram_link' | translate }}</a>
  {{ 'telegram-modal-component.text_2' | translate }}
  <br />
  <br />
  <strong>{{ 'telegram-modal-component.notified-about' | translate }}</strong>
  <div class="row py-2">
    <div class="col">
      <address-item
        class="d-inline-flex"
        [address]="botAddress"
        [options]="{ forceIdenticon: true, showFullAddress: true }"
        [clickableButton]="false"
      ></address-item>
    </div>
  </div>
  <div class="row py-2">
    <div class="col">
      <strong>{{ 'telegram-modal-component.choose-name' | translate }}</strong>
    </div>
  </div>
  <form [formGroup]="form">
    <div class="form-group">
      <input formControlName="botName" class="form-control" placeholder="{{ 'telegram-modal-component.placeholder' | translate }}" />
      <div *ngIf="botNameInvalid" class="text-danger">{{ 'telegram-modal-component.name-too-long' | translate }}</div>
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      (click)="createTelegramBot()"
      [ngClass]="{ disabled: !botNameControl.value || botNameInvalid }"
    >
      {{ 'telegram-modal-component.start-notifications_button' | translate }}
    </button>
  </form>
</div>
