<div class="container">
  <div class="row">
    <div class="col">
      <nav class="navbar navbar-expand-lg py-4 px-0">
        <div class="d-block">
          <div class="d-flex align-items-end">
            <a class="navbar-brand mr-0 p-0" [routerLink]="['/']">
              <img src="/assets/img/tezblock_logo.svg" width="160px" height="auto" />
            </a>
            <a href="https://airgap.it" target="_blank" class="text-dark">
              <small>
                {{ 'header-item.by' | translate }}
              </small>
            </a>
          </div>

          <div class="pt-2 d-none d-sm-block" *ngIf="!isMinimized">
            <span class="badge badge-pill badge-light">
              {{ 'header-item.cycle' | translate }} {{ currentCycle$ | async }}: {{ cycleProgress$ | async }}% {{ remainingTime$ | async }}
            </span>
          </div>
        </div>
        <button
          class="hamburger hamburger--spring navbar-toggler p-0"
          type="button"
          (click)="isCollapsed = !isCollapsed; dp1.hide(); dp2.hide(); dp3.hide()"
          [attr.aria-expanded]="!isCollapsed"
          aria-controls="collapseBasic"
          [class.is-active]="!isCollapsed"
        >
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
        <div class="pt-3 w-100 d-block d-sm-none">
          <app-search-item (onSearch)="dp1.hide(); dp2.hide(); dp3.hide()"></app-search-item>
        </div>
        <div
          class="collapse navbar-collapse"
          id="navbar-classic"
          [collapse]="isCollapsed"
          [isAnimated]="true"
          [ngClass]="{ 'display--inline-table': hideDropdown && !isCollapsed }"
        >
          <div class="d-block ml-auto mt-2 mt-lg-0">
            <div class="pb-2 d-none d-sm-block" *ngIf="!isMinimized">
              <app-search-item (onSearch)="dp1.hide(); dp2.hide(); dp3.hide()"></app-search-item>
            </div>
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
              <li class="nav-item">
                <button
                  type="button"
                  class="btn"
                  routerLinkActive="btn-link"
                  [routerLinkActiveOptions]="{ exact: true }"
                  [routerLink]="['/']"
                >
                  {{ 'header-item.overview_button' | translate }}
                </button>
              </li>

              <div class="nav-item dropdown mega-dropdown">
                <span class="d-block" dropdown [triggers]="triggers" #dp1="bs-dropdown">
                  <a
                    class="btn dropdown-toggle"
                    href
                    role="button"
                    dropdownToggle
                    (click)="(false)"
                    id="button-basic"
                    routerLinkActive="btn-link"
                    [ngClass]="{ 'btn-link': activeLinkBlockchain }"
                    aria-controls="blockchain"
                    (mouseover)="dp2.hide(); dp3.hide()"
                  >
                    {{ 'header-item.blockchain_button' | translate }}
                  </a>
                  <ul class="dropdown-menu mega-dropdown-menu pb-4 " *dropdownMenu role="menu" id="blockchain" (mouseleave)="dp1.hide()">
                    <li class="row">
                      <ul class="col-xs-12 col-sm-3">
                        <li class="mega-dropdown-menu__header">
                          {{ 'header-item.operations_button' | translate }}
                        </li>
                        <li role="menuitem">
                          <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/transaction/list']">
                            {{ 'header-item.transactions_button' | translate }}
                          </a>
                        </li>
                        <li role="menuitem">
                          <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/activation/list']">
                            {{ 'header-item.activations_button' | translate }}
                          </a>
                        </li>
                        <li role="menuitem">
                          <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/origination/list']">
                            {{ 'header-item.originations_button' | translate }}
                          </a>
                        </li>
                      </ul>
                      <ul class="col-xs-12 col-sm-3">
                        <li class="mega-dropdown-menu__header">
                          {{ 'header-item.network-validation_button' | translate }}
                        </li>

                        <li>
                          <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/baker/list']">
                            {{ 'header-item.bakers_button' | translate }}
                          </a>
                        </li>
                        <li role="menuitem">
                          <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/block/list']">
                            {{ 'header-item.blocks_button' | translate }}
                          </a>
                        </li>

                        <li role="menuitem">
                          <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/endorsement/list']">
                            {{ 'header-item.endorsements_button' | translate }}
                          </a>
                        </li>
                        <li role="menuitem">
                          <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/delegation/list']">
                            {{ 'header-item.delegations_button' | translate }}
                          </a>
                        </li>
                        <hr />
                        <li role="menuitem">
                          <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/double-baking/list']">
                            {{ 'header-item.double-baking-evidence_button' | translate }}
                          </a>
                        </li>
                        <li role="menuitem">
                          <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/double-endorsement/list']">
                            {{ 'header-item.double-endorsement-evidence_button' | translate }}
                          </a>
                        </li>
                      </ul>
                      <ul class="col-xs-12 col-sm-3">
                        <li class="mega-dropdown-menu__header">
                          {{ 'header-item.governance_button' | translate }}
                        </li>
                        <li role="menuitem">
                          <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/vote/list']">
                            {{ 'header-item.votes_button' | translate }}
                          </a>
                        </li>
                        <li>
                          <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/proposal/list']">
                            {{ 'header-item.proposals_button' | translate }}
                          </a>
                        </li>
                      </ul>
                      <ul class="col-xs-12 col-sm-3">
                        <li class="mega-dropdown-menu__header">
                          {{ 'header-item.accounts_button' | translate }}
                        </li>
                        <li>
                          <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/account/list']">
                            {{ 'header-item.top-accounts_button' | translate }}
                          </a>
                        </li>
                        <li role="menuitem">
                          <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/contract/list']">
                            {{ 'header-item.contracts_button' | translate }}
                          </a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </span>
              </div>
              <li class="nav-item">
                <button
                  type="button"
                  class="btn"
                  routerLinkActive="btn-link"
                  [ngClass]="{ 'btn-link': activeLinkAssets }"
                  [routerLink]="['/token-contract/list']"
                >
                  {{ 'header-item.assets_button' | translate }}
                </button>
              </li>
              <li class="nav-item dropdown">
                <span class="d-block" dropdown [triggers]="triggers" #dp2="bs-dropdown">
                  <a
                    class="btn dropdown-toggle"
                    href
                    role="button"
                    dropdownToggle
                    (click)="(false)"
                    id="button-basic"
                    routerLinkActive="btn-link"
                    [ngClass]="{ 'btn-link': activeLinkResources }"
                    aria-controls="resources"
                    (mouseover)="dp1.hide(); dp3.hide()"
                  >
                    {{ 'header-item.resources_button' | translate }}
                  </a>
                  <ul class="dropdown-menu 1" *dropdownMenu role="menu" id="resources" (mouseleave)="dp2.hide()">
                    <li role="menuitem">
                      <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/resources/wallets']">
                        {{ 'header-item.wallets_button' | translate }}
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/constants']">
                        {{ 'header-item.constants_button' | translate }}
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/health']">
                        {{ 'header-item.tezblock-health_button' | translate }}
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item text-muted" disabled>
                        {{ 'header-item.dapps_button' | translate }}
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item text-muted" disabled>
                        {{ 'header-item.development_button' | translate }}
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/glossary']">
                        {{ 'header-item.glossary_button' | translate }}
                      </a>
                    </li>
                  </ul>
                </span>
              </li>
              <li class="nav-item dropdown pl-2 pl-sm-0">
                <span class="d-block" dropdown [triggers]="triggers" #dp3="bs-dropdown">
                  <a
                    class="btn btn-sm btn-outline-dark dropdown-toggle"
                    href
                    role="button"
                    dropdownToggle
                    (click)="(false)"
                    id="button-basic"
                    routerLinkActive="btn-link"
                    (mouseover)="dp1.hide(); dp2.hide()"
                  >
                    {{ selectedNetwork }}
                  </a>
                  <ul
                    class="dropdown-menu"
                    *dropdownMenu
                    role="menu"
                    [ngClass]="{ 'display--none': !hideDropdown }"
                    (mouseleave)="dp3.hide()"
                  >
                    <li role="menuitem">
                      <a
                        class="dropdown-item"
                        [ngClass]="selectedNetwork === networks.MAINNET ? 'active' : ''"
                        (click)="changeNetwork(networks.MAINNET); dp3.hide()"
                      >
                        mainnet
                      </a>
                      <a
                        class="dropdown-item"
                        [ngClass]="selectedNetwork === networks.CARTHAGENET ? 'active' : ''"
                        (click)="changeNetwork(networks.CARTHAGENET); dp3.hide()"
                      >
                        carthagenet
                      </a>
                    </li>
                  </ul>
                </span>
              </li>
              <li class="nav-item dropdown pl-2 pl-sm-0">
                <span class="d-block" dropdown #dp4="bs-dropdown">
                  <a
                    class="btn btn-sm btn-outline-dark dropdown-toggle"
                    href
                    role="button"
                    dropdownToggle
                    (click)="(false)"
                    id="button-basic"
                    routerLinkActive="btn-link"
                    (mouseover)="dp1.hide(); dp2.hide()"
                  >
                    {{ translate.currentLang }}
                  </a>
                  <ul class="dropdown-menu" *dropdownMenu role="menu" [ngClass]="{ 'display--none': !hideDropdown }">
                    <li role="menuitem">
                      <a
                        class="dropdown-item"
                        [ngClass]="'en' === translate.currentLang ? 'active' : ''"
                        (click)="changeLanguage('en'); dp4.hide()"
                      >
                        EN
                      </a>
                      <a
                        class="dropdown-item"
                        [ngClass]="'de' === translate.currentLang ? 'active' : ''"
                        (click)="changeLanguage('de'); dp4.hide()"
                      >
                        DE
                      </a>
                    </li>
                  </ul>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
