<div class="container">
  <div class="row">
    <div class="col">
      <nav class="navbar navbar-expand-lg py-4 px-0">
        <div class="d-block">
          <div class="d-flex align-items-end">
            <a class="navbar-brand mr-0 p-0" [routerLink]="['/']">
              <img src="/assets/img/tezblock_logo.svg" width="160px" height="auto" />
            </a>
            <a href="https://airgap.it" target="_blank" class="text-dark">
              <small>
                by AirGap
              </small>
            </a>
          </div>

          <div class="pt-2 d-none d-sm-block" *ngIf="!isMinimized">
            <span class="badge badge-pill badge-light">
              Cycle {{ currentCycle | async }}: {{ cycleProgress | async }}% {{ remainingTime | async }}
            </span>
          </div>
        </div>
        <button
          class="hamburger hamburger--spring navbar-toggler p-0"
          type="button"
          (click)="isCollapsed = !isCollapsed; dp1.hide(); dp2.hide(); dp3.hide()"
          [attr.aria-expanded]="!isCollapsed"
          aria-controls="collapseBasic"
          [class.is-active]="!isCollapsed"
        >
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
        <div class="pt-3 w-100 d-block d-sm-none">
          <app-search-item (onSearch)="dp1.hide(); dp2.hide(); dp3.hide()"></app-search-item>
        </div>
        <div
          class="collapse navbar-collapse"
          id="navbar-classic"
          [collapse]="isCollapsed"
          [isAnimated]="true"
          [ngClass]="{ 'display--inline-table': hideDropdown && !isCollapsed }"
        >
          <div class="d-block ml-auto mt-2 mt-lg-0">
            <div class="pb-2 d-none d-sm-block" *ngIf="!isMinimized">
              <app-search-item (onSearch)="dp1.hide(); dp2.hide(); dp3.hide()"></app-search-item>
            </div>
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
              <li class="nav-item">
                <button
                  type="button"
                  class="btn"
                  routerLinkActive="btn-link"
                  [routerLinkActiveOptions]="{ exact: true }"
                  [routerLink]="['/']"
                >
                  Overview
                </button>
              </li>

              <div class="nav-item dropdown mega-dropdown">
                <span class="d-block" dropdown [triggers]="triggers" #dp1="bs-dropdown">
                  <a
                    class="btn dropdown-toggle"
                    href
                    role="button"
                    dropdownToggle
                    (click)="(false)"
                    id="button-basic"
                    routerLinkActive="btn-link"
                    [ngClass]="{ 'btn-link': activeLinkBlockchain }"
                    aria-controls="blockchain"
                    (mouseover)="dp2.hide(); dp3.hide()"
                  >
                    Blockchain
                  </a>
                  <ul class="dropdown-menu mega-dropdown-menu pb-4 " *dropdownMenu role="menu" id="blockchain" (mouseleave)="dp1.hide()">
                    <li class="row">
                      <ul class="col-xs-12 col-sm-3">
                        <li class="mega-dropdown-menu__header">
                          Operations
                        </li>
                        <li role="menuitem">
                          <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/transaction/list']">
                            Transactions
                          </a>
                        </li>
                        <li role="menuitem">
                          <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/activation/list']">
                            Activations
                          </a>
                        </li>
                        <li role="menuitem">
                          <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/origination/list']">
                            Originations
                          </a>
                        </li>
                        <li>
                          <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/account/list']">
                            Accounts
                          </a>
                        </li>
                      </ul>
                      <ul class="col-xs-12 col-sm-3">
                        <li class="mega-dropdown-menu__header">
                          Network Validation
                        </li>

                        <li>
                          <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/baker/list']">
                            Bakers
                          </a>
                        </li>
                        <li role="menuitem">
                          <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/block/list']">Blocks</a>
                        </li>

                        <li role="menuitem">
                          <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/endorsement/list']">
                            Endorsements
                          </a>
                        </li>
                        <li role="menuitem">
                          <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/delegation/list']">
                            Delegations
                          </a>
                        </li>
                        <hr />
                        <li role="menuitem">
                          <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/double-baking/list']">
                            Double Baking Evidence
                          </a>
                        </li>
                        <li role="menuitem">
                          <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/double-endorsement/list']">
                            Double Endorsement Evidence
                          </a>
                        </li>
                      </ul>
                      <ul class="col-xs-12 col-sm-3">
                        <li class="mega-dropdown-menu__header">
                          Governance
                        </li>
                        <li role="menuitem">
                          <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/vote/list']">
                            Votes
                          </a>
                        </li>
                        <li>
                          <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/proposal/list']">
                            Proposals
                          </a>
                        </li>
                      </ul>
                      <ul class="col-xs-12 col-sm-3">
                        <li class="mega-dropdown-menu__header">
                          Smart Contracts
                        </li>

                        <li role="menuitem">
                          <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/token-contract/list']">
                            FA 1.2 Tokens
                          </a>
                        </li>
                        <li role="menuitem">
                          <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/contract/list']">
                            Contracts
                          </a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </span>
              </div>
              <li class="nav-item dropdown">
                <span class="d-block" dropdown [triggers]="triggers" #dp2="bs-dropdown">
                  <a
                    class="btn dropdown-toggle"
                    href
                    role="button"
                    dropdownToggle
                    (click)="(false)"
                    id="button-basic"
                    routerLinkActive="btn-link"
                    [ngClass]="{ 'btn-link': activeLinkResources }"
                    aria-controls="resources"
                    (mouseover)="dp1.hide(); dp3.hide()"
                  >
                    Resources
                  </a>
                  <ul class="dropdown-menu 1" *dropdownMenu role="menu" id="resources" (mouseleave)="dp2.hide()">
                    <li role="menuitem">
                      <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/resources/wallets']">
                        Wallets
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/constants']">
                        Constants
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/health']">
                        tezblock Health
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item text-muted" disabled>
                        Dapps
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item text-muted" disabled>
                        Development
                      </a>
                    </li>
                  </ul>
                </span>
              </li>
              <!-- TODO: unhide if switch works  -->
              <li class="nav-item dropdown pl-2 pl-sm-0">
                <span class="d-block" dropdown [triggers]="triggers" #dp3="bs-dropdown">
                  <a
                    class="btn btn-sm btn-outline-dark dropdown-toggle"
                    href
                    role="button"
                    dropdownToggle
                    (click)="(false)"
                    id="button-basic"
                    routerLinkActive="btn-link"
                    (mouseover)="dp1.hide(); dp2.hide()"
                  >
                    {{ selectedNetwork }}
                  </a>
                  <ul
                    class="dropdown-menu"
                    *dropdownMenu
                    role="menu"
                    [ngClass]="{ 'display--none': !hideDropdown }"
                    (mouseleave)="dp3.hide()"
                  >
                    <li role="menuitem">
                      <a
                        class="dropdown-item"
                        [ngClass]="selectedNetwork === networks.MAINNET ? 'active' : ''"
                        (click)="changeNetwork(networks.MAINNET); dp3.hide()"
                      >
                        mainnet
                      </a>
                      <a
                        class="dropdown-item"
                        [ngClass]="selectedNetwork === networks.BABYLONNET ? 'active' : ''"
                        (click)="changeNetwork(networks.BABYLONNET); dp3.hide()"
                      >
                        babylonnet
                      </a>
                      <a
                        class="dropdown-item"
                        [ngClass]="selectedNetwork === networks.CARTHAGENET ? 'active' : ''"
                        (click)="changeNetwork(networks.CARTHAGENET); dp3.hide()"
                      >
                        carthagenet
                      </a>
                    </li>
                  </ul>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
