<ng-template #rewardsExpandedRowHeaderTemplate let-context>
  <div class="table-responsive mb-3">
    <loading-skeleton *ngIf="(context | async) === undefined" [loadingWidth]="'50%'"></loading-skeleton>
    <table class="table table-hover" *ngIf="context | async as bakerReward">
      <thead>
        <tr>
          <th>
            Baker Account
          </th>
          <th>
            Payout
          </th>
          <th>
            Share
          </th>
        </tr>
      </thead>
      <tr>
        <td>
          <address-item [address]="bakerReward.delegator"></address-item>
        </td>
        <td>
          <amount-cell [data]="bakerReward.payout"></amount-cell>
        </td>
        <td>
          {{ bakerReward.share | percentage }}
        </td>
      </tr>
    </table>
  </div>
</ng-template>

<ng-template #expandedRowTemplate let-context>
  <app-client-side-table
    [dataSource]="context.dataSource"
    [columns]="context.columns"
    [headerTemplate]="context.headerTemplate"
    [headerContext]="context.headerContext"
  ></app-client-side-table>
</ng-template>

<tabset *ngIf="tabs && tabs.length > 0" class="w-100">
  <tab *ngFor="let tab of tabs" [active]="tab.active" (selectTab)="selectTab(tab)" [disabled]="isTabDisabled(tab)">
    <ng-template tabHeading>
      <button type="button" class="btn p-0 mr-1" [ngClass]="tab.active ? 'btn-link' : ''">
        <span class="d-none d-sm-inline-block">
          {{ tab.title }}
        </span>
        <fa-icon [icon]="tab.icon" size="lg" class="d-sm-none "></fa-icon>
      </button>
    </ng-template>
    <h6 class="pt-3 mr-1 d-sm-none">
      <span>
        {{ tab.title }}
      </span>
    </h6>

    <ng-container *ngIf="tab.kind === 'baker_overview'">
      <div class="card-body px-0 px-sm-3 pt-4 pb-3">
        <div class="container p-0">
          <div class="row">
            <div class="col-md-6 col-lg-4">
              <div class="mb-3">
                <h5 class="card-title__secondary mb-3">
                  Full Balance
                </h5>
                <h3>
                  <amount-cell [data]="data?.stakingBond" [options]="{ showFiatValue: false, maxDigits: 10 }"></amount-cell>
                </h3>
              </div>

              <ng-container *ngIf="data?.stakingBalance; else loadingGraph">
                <div class="mb-4">
                  <div class="container p-0">
                    <div class="row mb-2">
                      <div class="col">
                        <p class="text-secondary m-0">Staking Balance</p>
                      </div>
                      <div class="col">
                        <p class="text-right text-secondary m-0">
                          Staking Capacity
                        </p>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="data?.stakingBalance > data?.stakingCapacity">
                    <progressbar [animate]="true" [value]="data?.stakingProgress" style="height:6px" type="danger"></progressbar>
                  </div>
                  <div *ngIf="data?.stakingBalance <= data?.stakingCapacity">
                    <progressbar [animate]="true" [value]="data?.stakingProgress" style="height:6px"></progressbar>
                  </div>
                  <div class="mt-2 container">
                    <div class="row">
                      <div class="col p-0">
                        <p class="m-0">
                          <amount-cell [data]="data?.stakingBalance" [options]="{ showFiatValue: false, maxDigits: 10 }"></amount-cell>
                        </p>
                      </div>
                      <div class="col p-0">
                        <div class="float-right">
                          <p class="m-0 ">
                            <amount-cell [data]="data?.stakingCapacity" [options]="{ showFiatValue: false, maxDigits: 10 }"></amount-cell>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>

              <div class="row">
                <div class="col-md-12">
                  <div class="mb-4">
                    <h5 class="card-title__secondary mb-3">
                      Payout Account
                    </h5>
                    <address-item *ngIf="data?.payoutAddress; else noPayoutAddress" [address]="data?.payoutAddress"></address-item>
                    <ng-template #noPayoutAddress><p class="text-secondary m-0">No related payout account.</p></ng-template>
                  </div>
                </div>
              </div>

              <ng-template #loadingGraph>
                <div class="container p-0">
                  <div class="row mb-2">
                    <div class="col">
                      <p class="text-secondary m-0">Staking Balance</p>
                    </div>
                    <div class="col">
                      <p class="text-right text-secondary m-0">
                        Staking Capacity
                      </p>
                    </div>
                  </div>
                </div>
                <div>
                  <progressbar [value]="0" style="height:6px"></progressbar>
                </div>
                <div class="mt-2 container">
                  <div class="row">
                    <div class="col p-0">
                      <loading-skeleton></loading-skeleton>
                    </div>
                  </div>
                </div>
              </ng-template>
            </div>
            <div class=" col-md-6 col-lg-4 pl-sm-5 py-sm-0 py-4">
              <div class="mb-4">
                <h5 class="card-title__secondary mb-3 ">
                  Frozen Balance
                </h5>
                <h5>
                  <amount-cell
                    *ngIf="data?.frozenBalance as frozenBalance; else noFrozenBalance"
                    [data]="frozenBalance"
                    [options]="{ showFiatValue: false, maxDigits: 10 }"
                  ></amount-cell>
                  <ng-template #noFrozenBalance>
                    <loading-skeleton [loadingWidth]="'50%'"></loading-skeleton>
                  </ng-template>
                </h5>
              </div>

              <div class="mb-4">
                <h5 class="card-title__secondary mb-3 ">
                  Active Delegations
                </h5>
                <h5>
                  <ng-container *ngIf="accountLoading$ | async; else loaded">
                    <loading-skeleton [loadingWidth]="'50%'"></loading-skeleton>
                  </ng-container>
                  <ng-template #loaded>
                    <ng-container *ngIf="activeDelegations$ | async as activeDelegations">
                      <span class="d-inline-block" [innerHtml]="activeDelegations | safeHtml"></span>
                    </ng-container>
                  </ng-template>
                </h5>
              </div>

              <div class="mb-4">
                <h5 class="card-title__secondary mb-3">
                  Number of Rolls
                </h5>
                <h5>
                  <ng-container *ngIf="!data?.numberOfRolls; else rolls">
                    <loading-skeleton [loadingWidth]="'50%'"></loading-skeleton>
                  </ng-container>
                  <ng-template #rolls>
                    <span class="d-inline-block">{{ data?.numberOfRolls }}</span>
                  </ng-template>
                </h5>
              </div>

              <div>
                <h5 class="card-title__secondary mb-3">
                  Next Baking Right
                </h5>
                <ng-container *ngIf="upcomingRightsLoading$ | async; else nextBakingRight">
                  <loading-skeleton [loadingWidth]="'50%'"></loading-skeleton>
                </ng-container>
                <ng-template #nextBakingRight>
                  <div *ngIf="(upcomingRights$ | async)?.baking as baking; else noBaking">
                    <h5>
                      {{ baking?.level }}
                      <app-timestamp-cell [data]="baking?.estimated_time"></app-timestamp-cell>
                    </h5>
                  </div>
                  <ng-template #noBaking>not available</ng-template>
                </ng-template>
              </div>
            </div>
            <div class=" col-md-6 col-lg-4">
              <div class="mb-3">
                <h5 class="card-title__secondary mb-2">
                  Payout Accuracy
                </h5>
                <div class="d-block">
                  <div
                    class="width--fit-content"
                    tooltip="Baking Bad provides a rating for bakers that meassures the accuracy and timeliness of their reward payouts to their delegators."
                  >
                    <img src="/assets/img/bakingbad_logo.png" width="24px" />
                    <a
                      class="btn"
                      type="button"
                      target="_blank"
                      [ngClass]="{ 'btn-link text-capitalize': ratings?.bakingBadRating }"
                      [href]="'https://baking-bad.org/'"
                    >
                      <ng-container *ngIf="ratings?.bakingBadRating">
                        {{ ratings.bakingBadRating }}
                      </ng-container>
                      <ng-container *ngIf="ratings?.bakingBadRating === undefined">
                        <loading-skeleton [loadingWidth]="'50px'"></loading-skeleton>
                      </ng-container>
                      <ng-container *ngIf="ratings?.bakingBadRating === null">
                        not available
                      </ng-container>
                    </a>
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <h5 class="card-title__secondary mb-2">
                  Baking Efficiency
                </h5>
                <div class="d-block">
                  <div
                    class="width--fit-content"
                    tooltip="MyTezosBaker is a rating site for bakers that displays an efficency percentage for completed or missed blocks and endorsements of a baker."
                  >
                    <img src="/assets/img/mytezosbaker_logo.svg" width="24px" />
                    <a
                      class="btn"
                      type="button"
                      target="_blank"
                      [ngClass]="{ 'btn-link': ratings?.tezosBakerRating }"
                      [href]="'https://mytezosbaker.com/'"
                    >
                      <ng-container *ngIf="ratings?.tezosBakerRating">
                        {{ ratings.tezosBakerRating }}
                      </ng-container>
                      <ng-container *ngIf="ratings?.tezosBakerRating === undefined">
                        <loading-skeleton [loadingWidth]="'65px'"></loading-skeleton>
                      </ng-container>
                      <ng-container *ngIf="ratings?.tezosBakerRating === null">
                        not available
                      </ng-container>
                    </a>
                  </div>
                </div>
              </div>
              <div class="mb-4">
                <h5 class="card-title__secondary mb-2">
                  Efficiency
                  <small>Last 10 Cycles</small>
                </h5>
                <div class="d-block">
                  <div
                    class="width--fit-content"
                    tooltip="Tezos Nodes is a rating site for bakers that displays an efficency percentage for completed or missed blocks and endorsements of a baker over the last 10 cycles."
                  >
                    <img src="/assets/img/tezosnodes.svg" width="24px" />
                    <a
                      class="btn"
                      type="button"
                      target="_blank"
                      [ngClass]="{ 'btn-link': !(efficiencyLast10CyclesLoading$ | async) && (efficiencyLast10Cycles$ | async) !== null }"
                      [href]="'https://www.tezos-nodes.com/baker/' + accountAddress"
                    >
                      <ng-container *ngIf="!(efficiencyLast10CyclesLoading$ | async) && (efficiencyLast10Cycles$ | async) !== null">
                        {{ (efficiencyLast10Cycles$ | async) / 100 | percentage }}
                      </ng-container>
                      <ng-container *ngIf="efficiencyLast10CyclesLoading$ | async">
                        <loading-skeleton [loadingWidth]="'65px'"></loading-skeleton>
                      </ng-container>
                      <ng-container *ngIf="(efficiencyLast10Cycles$ | async) === null">
                        not available
                      </ng-container>
                    </a>
                  </div>
                </div>
              </div>

              <div>
                <h5 class="card-title__secondary mb-3">
                  Next Endorsing Right
                </h5>
                <ng-container *ngIf="upcomingRightsLoading$ | async; else nextEndorsingRight">
                  <loading-skeleton [loadingWidth]="'50%'"></loading-skeleton>
                </ng-container>
                <ng-template #nextEndorsingRight>
                  <div *ngIf="(upcomingRights$ | async)?.endorsing as endorsing; else noEndorsing">
                    <h5>
                      {{ endorsing?.level }}
                      <app-timestamp-cell [data]="endorsing?.estimated_time"></app-timestamp-cell>
                    </h5>
                  </div>
                  <ng-template #noEndorsing>not available</ng-template>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="tab.kind === 'baking_rights' || tab.kind === 'endorsing_rights'">
      <tezblock-table
        *ngIf="isRightsTabAvailable$ | async; else noRights"
        [columns]="rightsColumns"
        [data]="rights$ | async"
        [loading]="rightsLoading$ | async"
        [expandedRow]="rightsExpandedRow"
        [pagination]="true"
        (onLoadMore)="loadMoreRights()"
      ></tezblock-table>
      <ng-template #noRights><div class="p-0 pt-3 p-md-3">not available</div></ng-template>
    </ng-container>

    <ng-container *ngIf="tab.kind === 'rewards'">
      <tezblock-table
        [columns]="rewardsColumns"
        [data]="rewards$ | async"
        [loading]="rewardsLoading$ | async"
        [expandedRow]="rewardsExpandedRow"
        [pagination]="true"
        (onLoadMore)="loadMoreRewards()"
        (rowExpanded)="onRowExpanded($event)"
      ></tezblock-table>
    </ng-container>

    <ng-container *ngIf="tab.kind === 'ballot'">
      <tezblock-table
        [columns]="tab.columns"
        [data]="votes$ | async"
        [loading]="votesLoading$ | async"
        [pagination]="votesShowLoadMore$ | async"
        (onLoadMore)="loadMoreVotes()"
      ></tezblock-table>
    </ng-container>

    <div ng-bind-html="tabDynamicContent"></div>
  </tab>
</tabset>
