<ng-template #expandedRowTemplate let-context>
  <app-client-side-table [data]="context.data" [columns]="context.columns" [filterCondition]="context.filterCondition"></app-client-side-table>
</ng-template>

<tabset *ngIf="tabs && tabs.length > 0" class="w-100">
  <tab *ngFor="let tab of tabs" [active]="tab.active" (selectTab)="selectTab(tab)">
    <ng-template tabHeading>
      <button type="button" class="btn p-0 mr-1" [ngClass]="tab.active ? 'btn-link' : ''">
        <span class="d-none d-sm-inline-block">
          {{ tab.title }}
        </span>
        <fa-icon [icon]="tab.icon" size="lg" class="d-sm-none "></fa-icon>
      </button>
    </ng-template>
    <h6 class="pt-3 mr-1 d-sm-none">
      <span>
        {{ tab.title }}
      </span>
    </h6>

    <ng-container *ngIf="tab.kind === 'baker_overview'">
      <div class="card-body px-0 px-sm-3 pt-4 pb-3">
        <div class="container p-0">
          <div class="row">
            <div class="col-md-6 col-lg-4">
              <div class="mb-3">
                <h5 class="card-title__secondary mb-3">
                  Full Balance
                </h5>
                <h3>
                  <span
                    class="d-inline-block"
                    [innerHtml]="
                      stakingBond
                        | amountConverter: { protocolIdentifier: 'xtz', maxDigits: 10, fontSmall: true, fontColor: true }
                        | safeHtml
                    "
                  ></span>
                  ꜩ
                </h3>
              </div>

              <ng-container *ngIf="stakingBalance; else loadingGraph">
                <div class="mb-4">
                  <div class="container p-0">
                    <div class="row mb-2">
                      <div class="col">
                        <p class="text-secondary m-0">Staking Balance</p>
                      </div>
                      <div class="col">
                        <p class="text-right text-secondary m-0">
                          Staking Capactiy
                        </p>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="stakingBalance > stakingCapacity">
                    <progressbar [animate]="true" [value]="stakingProgress" style="height:6px" type="danger"></progressbar>
                  </div>
                  <div *ngIf="stakingBalance <= stakingCapacity">
                    <progressbar [animate]="true" [value]="stakingProgress" style="height:6px"></progressbar>
                  </div>
                  <div class="mt-2 container">
                    <div class="row">
                      <div class="col p-0">
                        <p class="m-0">
                          <span
                            class="d-inline-block"
                            [innerHtml]="
                              stakingBalance
                                | amountConverter: { protocolIdentifier: 'xtz', maxDigits: 10, fontSmall: true, fontColor: true }
                                | safeHtml
                            "
                          ></span>

                          ꜩ
                        </p>
                      </div>
                      <div class="col p-0">
                        <div class="float-right">
                          <p class="m-0 ">
                            <span
                              class="d-inline-block"
                              [innerHtml]="
                                stakingCapacity
                                  | amountConverter: { protocolIdentifier: 'xtz', maxDigits: 10, fontSmall: true, fontColor: true }
                                  | safeHtml
                              "
                            ></span>

                            ꜩ
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>

              <div class="row">
                <div class="col-md-12">
                  <div class="mb-4">
                    <h5 class="card-title__secondary mb-3">
                      Payout Account
                    </h5>
                    <address-item *ngIf="payoutAddress; else noPayoutAddress" [address]="payoutAddress"></address-item>
                    <ng-template #noPayoutAddress><p class="text-secondary m-0">No related payout account.</p></ng-template>
                  </div>
                </div>
              </div>

              <ng-template #loadingGraph>
                <div class="container p-0">
                  <div class="row mb-2">
                    <div class="col">
                      <p class="text-secondary m-0">Staking Balance</p>
                    </div>
                    <div class="col">
                      <p class="text-right text-secondary m-0">
                        Staking Capactiy
                      </p>
                    </div>
                  </div>
                </div>
                <div>
                  <progressbar [value]="0" style="height:6px"></progressbar>
                </div>
                <div class="mt-2 container">
                  <div class="row">
                    <div class="col p-0">
                      <loading-skeleton></loading-skeleton>
                    </div>
                  </div>
                </div>
              </ng-template>
            </div>
            <div class=" col-md-6 col-lg-4 pl-sm-5 py-sm-0 py-4">
              <div class="mb-4">
                <h5 class="card-title__secondary mb-3 ">
                  Frozen Balance
                </h5>
                <h5>
                  <ng-container *ngIf="!frozenBalance; else deposits">
                    <loading-skeleton [loadingWidth]="'50%'"></loading-skeleton>
                  </ng-container>
                  <ng-template #deposits>
                    <span
                      class="d-inline-block"
                      [innerHtml]="
                        frozenBalance
                          | amountConverter: { protocolIdentifier: 'xtz', maxDigits: 10, fontSmall: true, fontColor: true }
                          | safeHtml
                      "
                    ></span>
                    ꜩ
                  </ng-template>
                </h5>
              </div>

              <div class="mb-4">
                <h5 class="card-title__secondary mb-3 ">
                  Active Delegations
                </h5>
                <h5>
                  <ng-container *ngIf="accountLoading$ | async; else loaded">
                    <loading-skeleton [loadingWidth]="'50%'"></loading-skeleton>
                  </ng-container>
                  <ng-template #loaded>
                    <ng-container *ngIf="activeDelegations$ | async as activeDelegations">
                      <span class="d-inline-block" [innerHtml]="activeDelegations | safeHtml"></span>
                    </ng-container>
                  </ng-template>
                </h5>
              </div>

              <div class="mb-4">
                <h5 class="card-title__secondary mb-3">
                  Number of Rolls
                </h5>
                <h5>
                  <ng-container *ngIf="!numberOfRolls; else rolls">
                    <loading-skeleton [loadingWidth]="'50%'"></loading-skeleton>
                  </ng-container>
                  <ng-template #rolls>
                    <span class="d-inline-block">{{ numberOfRolls }}</span>
                  </ng-template>
                </h5>
              </div>
            </div>
            <div class=" col-md-6 col-lg-4">
              <div class="mb-3">
                <h5 class="card-title__secondary mb-2">
                  Payout Accuracy
                </h5>
                <div class="d-block">
                  <div
                    class="width--fit-content"
                    tooltip="Baking Bad provides a rating for bakers that meassures the accuracy and timeliness of their reward payouts to their delegators."
                  >
                    <img src="/assets/img/bakingbad_logo.png" width="24px" />

                    <a class="btn btn-link text-capitalize" type="button" target="_blank" [href]="'https://https://baking-bad.org/'">
                      <ng-container *ngIf="!bakingBadRating">
                        <loading-skeleton [loadingWidth]="'50px'"></loading-skeleton>
                      </ng-container>
                      <ng-container *ngIf="bakingBadRating">
                        {{ bakingBadRating }}
                      </ng-container>
                    </a>
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <h5 class="card-title__secondary mb-2">
                  Baking Efficiency
                </h5>
                <div class="d-block">
                  <div
                    class="width--fit-content"
                    tooltip="MyTezosBaker is a rating site for bakers that displays an efficency percentage for completed or missed blocks and endorsements of a baker."
                  >
                    <img src="/assets/img/mytezosbaker_logo.svg" width="24px" />

                    <a class="btn btn-link text-capitalize" type="button" target="_blank" [href]="'https://mytezosbaker.com/'">
                      <ng-container *ngIf="!tezosBakerRating">
                        <loading-skeleton [loadingWidth]="'65px'"></loading-skeleton>
                      </ng-container>
                      <ng-container *ngIf="tezosBakerRating">
                        {{ tezosBakerRating }}
                      </ng-container>
                    </a>
                  </div>
                </div>
              </div>
              <div>
                <h5 class="card-title__secondary mb-2">
                  Efficiency
                  <small>Last 10 Cycles</small>
                </h5>
                <div class="d-block">
                  <div
                    class="width--fit-content"
                    tooltip="Tezos Nodes is a rating site for bakers that displays an efficency percentage for completed or missed blocks and endorsements of a baker over the last 10 cycles."
                  >
                    <img src="/assets/img/tezosnodes.svg" width="24px" />

                    <a class="btn btn-link" type="button" target="_blank" [href]="'https://www.tezos-nodes.com/baker/' + accountAddress">
                      <ng-container *ngIf="efficiencyLast10CyclesLoading$ | async">
                        <loading-skeleton [loadingWidth]="'65px'"></loading-skeleton>
                      </ng-container>
                      <ng-container *ngIf="!(efficiencyLast10CyclesLoading$ | async) && (efficiencyLast10Cycles$ | async) !== null">
                        {{ (efficiencyLast10Cycles$ | async) / 100 | percentage }}
                      </ng-container>
                    </a>
                    <ng-container *ngIf="(efficiencyLast10Cycles$ | async) === null">
                      not available
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="tab.kind === 'baking_rights' || tab.kind === 'endorsing_rights'">
      <tezblock-table2
        [columns]="rightsColumns"
        [data]="rights$ | async"
        [loading]="rightsLoading$ | async"
        [expandedRow]="rightsExpandedRow"
        [pagination]="true"
        (onLoadMore)="loadMoreRights()"
      ></tezblock-table2>
    </ng-container>

    <ng-container *ngIf="tab.kind === 'rewards'">
      <tezblock-table2
        [columns]="rewardsColumns"
        [data]="rewards$ | async"
        [loading]="rewardsLoading$ | async"
        [expandedRow]="rewardsExpandedRow"
        [pagination]="true"
        (onLoadMore)="loadMoreRewards()"
      ></tezblock-table2>
    </ng-container>

    <div ng-bind-html="tabDynamicContent"></div>
  </tab>
</tabset>
