<div>
  <div class="card-body p-4">
    <h5 class="card-title mb-4 ">
      {{ 'transaction-detail.transaction-details' | translate }}
      <span *ngIf="statusLabel" class="badge badge-pill badge-primary-light ml-1 cursor--pointer">
        {{ statusLabel | titlecase }}
      </span>
    </h5>

    <div class="row mb-3">
      <div class="col-md-3">
        <p class="text-secondary mb-0">
          <tooltip-item
            [title]="'transaction-detail.transaction-hash' | translate"
            [tooltip]="'transaction-detail.transaction-hash_tooltip' | translate"
          ></tooltip-item>
        </p>
      </div>
      <div class=" col-md-9" *ngIf="latestTransaction; else loadingTemplate">
        <p class="mb-0">
          {{ latestTransaction.operation_group_hash }}
          <a
            [@changeBtnColor]="current"
            (click)="copyToClipboard(latestTransaction.operation_group_hash); changeState(latestTransaction.operation_group_hash)"
            value="click to copy"
            class="btn btn-sm btn-icon btn-light rounded-circle ml-1 d-sm-inline-block"
          >
            <fa-icon [icon]="'copy' | iconPipe" class="text-secondary"></fa-icon>
          </a>
        </p>
      </div>
    </div>
    <ng-template #loadingTemplate>
      <div class=" col-md-9">
        <loading-skeleton [loadingWidth]="'50%'"></loading-skeleton>
      </div>
    </ng-template>
    <div class="row mb-3">
      <div class="col-md-3">
        <p class="text-secondary mb-0">
          <tooltip-item
            [title]="'transaction-detail.block' | translate"
            [tooltip]="'transaction-detail.block_tooltip' | translate"
          ></tooltip-item>
        </p>
      </div>
      <div class=" col-md-9" *ngIf="latestTransaction; else loadingTemplate">
        <button type="button" class="btn btn-link p-0" ng-href="#here" [routerLink]="['/block', latestTransaction.block_level]">
          {{ latestTransaction.block_level }}
          <span *ngIf="blockConfirmations" class="text-secondary ml-1">
            {{ blockConfirmations }} {{ 'transaction-detail.block-confirmation' | translate }}{{ blockConfirmations > 0 ? 's' : '' }}
          </span>
        </button>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-3">
        <p class="text-secondary mb-0">
          <tooltip-item
            [title]="'transaction-detail.timestamp' | translate"
            [tooltip]="'transaction-detail.timestamp_tooltip' | translate"
          ></tooltip-item>
        </p>
      </div>
      <div class=" col-md-9" *ngIf="latestTransaction; else loadingTemplate">
        <p class="mb-0">
          {{ latestTransaction.timestamp | amTimeAgo }}
          <span class="text-secondary">({{ latestTransaction.timestamp | date: 'MMMM-d-y HH:mm:ss' }})</span>
        </p>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-3">
        <p class="text-secondary mb-0">
          <tooltip-item
            [title]="'transaction-detail.value' | translate"
            [tooltip]="'transaction-detail.value_tooltip' | translate"
          ></tooltip-item>
        </p>
      </div>
      <ng-container *ngIf="totalAmount !== undefined; else loadingTemplate">
        <div class="col col-md-9">
          <amount-cell [data]="{ amount: totalAmount }" [options]="{ showFiatValue: isMainnet, maxDigits: 8 }"></amount-cell>
        </div>
      </ng-container>
      <ng-template #hideValue>
        <div class="col col-md-9">
          <span>0</span>
        </div>
      </ng-template>
    </div>
    <div class="row mb-3">
      <div class="col-md-3">
        <p class="text-secondary mb-0">
          <tooltip-item
            [title]="'transaction-detail.transaction-fees' | translate"
            [tooltip]="'transaction-detail.transaction-fees_tooltip' | translate"
          ></tooltip-item>
        </p>
      </div>
      <ng-container *ngIf="amountFromLatestTransactionFee; else loadingTemplate">
        <div class=" col-md-9">
          <amount-cell [data]="amountFromLatestTransactionFee" [options]="{ showFiatValue: true, maxDigits: 8 }"></amount-cell>
        </div>
      </ng-container>
    </div>
    <div *ngIf="error" class="alert alert-danger m-0 mt-4" role="alert">
      <strong class="mr-1">{{ error.title }}</strong>
      {{ error.description }}
    </div>
  </div>
</div>
