.dark-theme {
  $primary-light-color: #7c99d6;
  $primary-dark-color: #2e384d;
  $content-background-color: #35425e;
  $content-background-color-dark: #27334c;
  $box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px;

  /* custom tezblock colors */
  $theme-colors: (
    'primary': #6183ff,
    'primary-light': $primary-light-color,
    'primary-dark': $primary-dark-color,
    'secondary': #7c99d6,
    'light': #f4f6fc,
    'dark': #6683c3
  );

  /* Sass overwrites */
  $body-bg: $content-background-color-dark;
  $body-color: map_get($theme-colors, 'light');
  $card-cap-bg: $content-background-color;
  $card-border-color: none;
  $card-bg: $content-background-color;
  $dropdown-border-color: rgba(46, 91, 255, 0.08);
  $link-color: map_get($theme-colors, 'primary');
  $navbar-light-active-color: map_get($theme-colors, 'primary');
  $table-hover-bg: rgba(46, 91, 255, 0.04);
  $table-border-color: $content-background-color-dark;
  $dropdown-link-hover-color: map_get($theme-colors, 'primary');
  $nav-tabs-link-active-color: map_get($theme-colors, 'primary');
  $nav-tabs-link-active-bg: #35425e;
  $navbar-light-toggler-border-color: transparent;
  $tooltip-bg: map_get($theme-colors, 'secondary');
  $modal-content-bg: $content-background-color;
  $modal-header-border-color: transparent;
  $dropdown-link-hover-bg: #fff;
  $dropdown-bg: $content-background-color;
  $dropdown-link-color: map_get($theme-colors, 'primary');
  $dropdown-header-color: map_get($theme-colors, 'dark');
  $modal-content-border-color: rgba(46, 91, 255, 0.08);
  $ngx-json-viewer-background: map_get($theme-colors, 'light');
  $link-hover-color: map_get($theme-colors, 'light');
  $input-bg: $content-background-color;
  $input-border-color: map_get($theme-colors, 'dark');
  $input-color: map_get($theme-colors, 'light');
  $input-placeholder-color: map_get($theme-colors, 'dark');

  $headings-color: map_get($theme-colors, 'secondary');
  $text-muted: #7c99d6;

  .card {
    .card-title__secondary {
      color: map_get($theme-colors, 'dark') !important;
    }
  }

  h1,
  h3,
  h5 {
    color: map_get($theme-colors, 'light') !important;
  }

  .table-danger,
  .table-danger > th,
  .table-danger > td {
    background-color: rgb(255 0 27 / 0.1) !important;
  }

  /* header & footer background color */
  header-item,
  app-footer {
    background-color: $content-background-color;
  }
  header-item {
    .badge-light {
      background-color: map_get($theme-colors, 'primary') !important;
    }
  }
  .search--container {
    background: none;
  }

  .card,
  .dropdown-menu {
    box-shadow: $box-shadow;
  }

  ngx-json-viewer {
    overflow: auto !important;
    section {
      background: $ngx-json-viewer-background;
      overflow: auto !important;
    }
  }

  app-account-detail {
    .rights-chart {
      div {
        background-color: $content-background-color-dark;
        &.active {
          background-color: darken(map_get($theme-colors, 'light'), 10%);
        }

        &.super-active {
          background-color: darken(map_get($theme-colors, 'light'), 20%);
        }

        &.now {
          background-color: map_get($theme-colors, 'primary');
        }

        &.past {
          background-color: lighten(map_get($theme-colors, 'primary-light'), 10%);

          &.active {
            background-color: darken(map_get($theme-colors, 'primary-light'), 10%);
          }

          &.super-active {
            background-color: darken(map_get($theme-colors, 'primary-light'), 20%);
          }
        }
      }
    }
  }

  .badge-outline-pill {
    border: 1px solid map_get($theme-colors, 'primary-light');
  }

  @import '../../node_modules/bootstrap/scss/bootstrap';
}
