/* Manrope font imports*/
@font-face {
  font-family: "Manrope";
  src: url(../assets/fonts/Manrope/manrope-regular.woff) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Manrope";
  src: url(../assets/fonts/Manrope/manrope-light.woff) format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Manrope";
  src: url(../assets/fonts/Manrope/manrope-bold.woff) format("truetype");
  font-weight: 600;
}

th {
  font-weight: 400;
}

/* Sass overwrites */
$font-family-base: "Manrope";
$card-border-radius: 0;
$alert-border-radius: 0;
$dropdown-border-radius: 0;
$link-decoration: none;
$link-hover-decoration: none;
$badge-pill-padding-x: 1em;
$badge-padding-y: 0.5em;
$badge-padding-x: 0.5em;
$font-size-base: 14;
$dropdown-link-hover-bg: none;
$nav-tabs-border-width: 0;
$navbar-toggler-font-size: 14px;
$input-btn-focus-box-shadow: none;
// $tooltip-bg: #fff;
$tooltip-color: #000;
$tooltip-border-radius: 0;
$badge-font-weight: 400;
$list-group-item-padding-y: 0.25rem;
$list-group-item-padding-x: 0;
$modal-content-border-radius: 0;
$modal-xl: 1100px;

/* identicon image size */
identicon {
  .img--lg {
    width: 48px;
    height: 48px;
  }
  .img--sm {
    width: 24px;
    height: 24px;
  }
}

/* sets the color of the nav link inside tabs to primary-dark */
tabset {
  .nav-link {
    color: var(--primary-dark);
  }
}

/* font family & weight of secondary colored text */
.text-secondary {
  font-family: "Manrope", sans-serif;
  font-weight: 200;
}

/* removes focus border of items */
:focus {
  outline: none;
}

/* card specific styling */
.card {
  .card-title__secondary {
    text-transform: uppercase;
    font-size: 14px;
  }
  .card-title {
    font-size: 16px;
  }
  .card-header,
  .table thead th,
  .table > tbody > tr:first-child > td {
    border: none !important;
  }
}

.dropdown-item {
  cursor: pointer;
}

.typeahead {
  min-width: 250px;
}
typeahead-container {
  min-height: 100% !important;
}

tezblock-table {
  table {
    margin-bottom: 0 !important;
  }
}
/* no breaks in table cell with spaces */
.table-responsive table td,
.table-responsive table th {
  white-space: nowrap;
}

/* dashboard components blocks & transactions styling */
app-latest-contracts-transactions,
transaction-item {
  .row {
    min-height: 52px;
  }
  fa-icon {
    font-size: 24px;
    transform: scaleX(-1);
  }
}
block-item,
app-latest-contracts {
  .row {
    min-height: 52px;
  }
}

.modal,
.modal-open,
.modal-content,
.modal-body {
  overflow: auto !important;
}

@media (max-width: 576px) {
  /* set fon-size on mobile devices to 16px to avoid zooming on input */
  .form-control {
    font-size: 16px !important;
  }
}
/* width only encloses conent, used for ion-tooltip positioning */
.width--fit-content {
  width: fit-content;
}
/* additional tooltip styling */
.tooltip-inner {
  text-align: left !important;
  box-shadow: 0 0 12px 4px rgba(46, 91, 255, 0.12);
}

app-latest-contracts-transactions div:nth-of-type(6) hr,
app-latest-contracts div:nth-of-type(6) hr,
block-item div:nth-of-type(5) hr,
transaction-item div:nth-of-type(5) hr {
  border-top: 1px solid transparent;
}

/* Global Styles */
@import "./styles-dark.scss";
@import "./styles-light.scss";
