<ng-container *ngIf="proposal$ | async as proposal; else noProposal">
  <div class="mb-5 pt-5">
    <div class="container p-0">
      <div class="card h-100 pt-3 ">
        <div class="card-body p-4">
          <h5 class="card-title mb-4 ">
            Proposal
          </h5>
          <div class="row mb-3">
            <div class="col-md-3">
              <p class="text-secondary mb-0">Proposal Hash</p>
            </div>
            <div class="col-md-9">
              <p class="mb-0">
                {{ proposal.proposal }}
                <a
                  (click)="copyToClipboard()"
                  value="click to copy"
                  class="btn btn-sm btn-icon btn-light rounded-circle ml-1 d-sm-inline-block"
                  tooltip="Copy to clipboard"
                >
                  <fa-icon [icon]="'copy' | iconPipe" class="text-secondary"></fa-icon>
                </a>
              </p>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-3">
              <p class="text-secondary mb-0">Proposal Name</p>
            </div>
            <div class="col-md-9">
              {{ proposal.proposal | alias: 'proposal' }}
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-3">
              <p class="text-secondary mb-0">Period</p>
            </div>
            <div class="col-md-9">
              {{ proposal.period }}
            </div>
          </div>
          <div *ngIf="proposal.discussionLink" class="row mb-3">
            <div class="col-md-3">
              <p class="text-secondary mb-0">Proposal Discussion</p>
            </div>
            <div class="col-md-9">
              <div class="d-block">
                <div>
                  <img src="/assets/img/tezos-agora.svg" width="16px" />
                  <a role="button" class="btn btn-link py-0 text-capitalize" [href]="proposal.discussionLink" target="_blank">
                    Discussion on Tezos Agora
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-3">
              <p class="text-secondary mb-0">More Information</p>
            </div>
            <div class="col-md-9">
              <div class="d-block">
                <div>
                  <img src="/assets/img/tezos-agora.svg" width="16px" />
                  <a
                    role="button"
                    class="btn btn-link py-0 text-capitalize"
                    [href]="'https://www.tezosagora.org/period/' + proposal.period"
                    target="_blank"
                  >
                    Details of Proposal on Tezos Agora
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="proposal.description" class="row">
            <div class="col-md-12">
              <button
                type="button"
                class="btn btn-link p-0 collapse--btn"
                (click)="isCollapsed = !isCollapsed"
                [attr.aria-expanded]="!isCollapsed"
                aria-controls="collapseBasic"
                [ngClass]="{ 'btn--rotated': !isCollapsed }"
              >
                <span>{{ isCollapsed ? 'More Proposal' : 'Less Proposal' }}</span>
                Details
                <fa-icon [icon]="'longArrowAltDown' | iconPipe" class="ml-1"></fa-icon>
              </button>
              <div
                [innerHtml]="proposal.description | safeHtml"
                id="collapseBasic"
                [collapse]="isCollapsed"
                [isAnimated]="true"
                class="description mt-3"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container p-0">
    <div class="card h-100">
      <div class="card pt-3">
        <div class="card-header d-flex justify-content-between align-items-center px-3 py-0">
          <tabbed-table
            [tabs]="tabs"
            [page]="'proposal'"
            [loading]="loading$ | async"
            [data]="votes$ | async"
            [disableTabLogic]="true"
            [noDataLabel]="noDataLabel$ | async"
            (tabClicked)="tabSelected($event)"
            (loadMore)="onLoadMore()"
          >
            <ng-container *ngIf="showRolls$ | async">
              <div class="row pl-0 pl-md-3 pt-3">
                <div class="col-12 col-md-3">
                  <p>
                    <fa-icon [icon]="'thumbsUp' | iconPipe" class="text-primary fa-2x mr-3"></fa-icon>
                    <strong>{{ yayRollsPercentage$ | async }}%</strong>
                    ({{ yayRolls$ | async }}) In Favor
                  </p>
                </div>
                <div class="col-12 col-md-3">
                  <p>
                    <fa-icon [icon]="'thumbsDown' | iconPipe" class="text-primary fa-2x mr-3"></fa-icon>
                    <strong>{{ nayRollsPercentage$ | async }}%</strong>
                    ({{ nayRolls$ | async }}) Against
                  </p>
                </div>
                <div class="col-12 col-md-3">
                  <p>
                    <fa-icon [icon]="'handRock' | iconPipe" class="text-primary fa-2x mr-3"></fa-icon>
                    {{ passRolls$ | async }}
                    Pass
                  </p>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="periodTimespan$ | async as periodTimespan">
              <ng-container *ngIf="periodTimespan.end < now && !!periodTimespan.start">
                <div class="pl-0 pl-md-3 py-3">
                  <strong>
                    {{ periodKind$ | async }} period has ended, period was between {{ periodTimespan.start | amDateFormat: 'LL' }} and
                    {{ periodTimespan.end | amDateFormat: 'LL' }}
                  </strong>
                </div>
              </ng-container>
              <ng-container *ngIf="periodTimespan.start < now && periodTimespan.end > now && !!periodTimespan.end">
                <div class="pl-0 pl-md-3 py-3">
                  <strong>The current {{ periodKind$ | async }} period ends on {{ periodTimespan.end | amDateFormat: 'LL' }}</strong>
                </div>
              </ng-container>
              <ng-container *ngIf="periodTimespan.start > now && !!periodTimespan.start">
                <div class="pl-0 pl-md-3 py-3">
                  {{ periodKind$ | async }} period will start on {{ periodTimespan.start | amDateFormat: 'LL' }}
                </div>
              </ng-container>
            </ng-container>
          </tabbed-table>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #noProposal>
  <div class="mb-5 pt-5" *ngIf="(proposal$ | async) === null">
    <div class="container p-0">
      <div class="card p-3">
        <h5 class="card-title mb-4 ">
          Invalid Proposal hash
        </h5>
        <p>
          This operation hash is invalid.
        </p>
      </div>
    </div>
  </div>
</ng-template>
