<div class="modal-header">
  <button
    type="button"
    class="close pull-right"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body" *ngIf="item">
  <div class="d-flex justify-content-center pb-4">
    <img
      #img
      [src]="item.displayImg"
      (error)="
        img.src =
          img.src === item.displayImg
            ? item.thumbnail
            : './../../../assets/img/collectible-placeholder.png'
      "
      class="card__img"
    />
  </div>

  <h3 class="py-3">{{ item.name }}</h3>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title__secondary pb-3">Details</h5>

      <div class="d-flex justify-content-between">
        <h6>Amount</h6>
        <p>{{ item.amount }}</p>
      </div>
      <div class="d-flex justify-content-between">
        <h6>Contract</h6>
        <p>{{ item.contract?.address }}</p>
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <h6 class="m-0">More Details</h6>
        <a
          class="btn btn-sm btn-outline-primary"
          href="{{ item?.moreDetails?.url }}"
          target="_blank"
        >
          View on objkt.com
        </a>
      </div>
    </div>
  </div>
</div>
