<div class="mb-5 pt-5">
  <div class="container p-0">
    <ng-container *ngIf="latestTx$ | async">
      <div class="card h-100 pt-3 mb-">
        <transaction-detail-wrapper
          [latestTransaction$]="latestTx$"
          [blockConfirmations$]="numberOfConfirmations$"
          [totalAmount]="totalAmount$ | async"
          [fiatInfo$]="fiatCurrencyInfo$"
          [isMainnet]="isMainnet"
        ></transaction-detail-wrapper>
      </div>

      <div class="pt-5">
        <div class="card pt-3">
          <div class="card-header d-flex justify-content-between align-items-center px-3 py-0">
            <tabbed-table
              [tabs]="tabs"
              [page]="'transaction'"
              [loading]="transactionsLoading$ | async"
              [data]="filteredTransactions$ | async"
              (tabClicked)="tabSelected($event)"
              (loadMore)="onLoadMore()"
              [downloadable]="true"
              (onSort)="sortBy($event)"
              [orderBy]="orderBy$ | async"
            ></tabbed-table>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="isInvalidHash$ | async">
      <div class="card p-3">
        <h5 class="card-title mb-4 d-flex align-items-center">
          Invalid Operation Hash
          <div class="spinner-grow ml-2 spinner-grow-sm text-primary" role="status"></div>
        </h5>
        <p>
          This hash is currently invalid, it might not yet have been included in the blockchain.
        </p>
        <p>This page continuously updates to get the latest state.</p>
      </div>
    </ng-container>
  </div>
</div>
