<div class="mb-5 pt-5">
  <div class="container p-0">
    <div class="card h-100 pt-3 mb-">
      <transaction-detail-wrapper
        [latestTransaction$]="latestTx$"
        [blockConfirmations$]="numberOfConfirmations$"
        [amount$]="totalAmount$"
        [fee$]="totalFee$"
        [fiatInfo$]="fiatCurrencyInfo$"
        [isMainnet]="isMainnet"
      ></transaction-detail-wrapper>
    </div>

    <div class="pt-5">
      <div class="card pt-3">
        <div class="card-header d-flex justify-content-between align-items-center px-3 py-0">
          <tabbed-table
            [tabs]="tabs"
            [page]="'transaction'"
            [loading]="transactionsLoading$"
            [data]="filteredTransactions$"
            [dataService]="transactionSingleService"
            (tabClicked)="tabSelected($event)"
            [downloadable]="true"
          ></tabbed-table>
        </div>
      </div>
    </div>
  </div>
</div>
