<div *ngFor="let contract of contracts">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-4 p-0">
        <address-item [address]="contract.id" ng-href="#here" (click)="inspectDetail(contract.id)"></address-item>
      </div>
      <div class="col-8 p-0">
        <p class="m-0">
          <amount-cell
            [data]="{ amount: contract.totalSupply }"
            [options]="{ symbol: contract.symbol, conventer: getConventer(contract), showFiatValue: showFiatValue(contract) }"
          ></amount-cell>
        </p>
      </div>
    </div>
    <hr />
  </div>
</div>
