<div class="input-group input-group-main">
  <input
    [formControl]="searchControl"
    [typeaheadAsync]="true"
    [typeahead]="dataEmitter"
    [adaptivePosition]="true"
    [typeaheadMinLength]="0"
    typeaheadOptionField="label"
    typeaheadGroupField="optionGroup"
    placeholder="{{ 'search-item.placeholder' | translate }}"
    class="form-control form-control--focus-white"
    (keydown.enter)="onKeyEnter()"
    (typeaheadOnSelect)="onSelect($event)"
    (mousedown)="onMouseDown()"
    [typeaheadIsFirstItemActive]="false"
    [isAnimated]="true"
  />
  <div class="input-group-append">
    <button class="btn btn-primary" type="submit" (click)="onKeyEnter()">
      <fa-icon
        [icon]="'search' | iconPipe"
        class="text-white"
        [ngClass]="{ 'd-inline-block': !!buttonLabel, 'd-sm-none': !!buttonLabel }"
      ></fa-icon>
      <ng-container *ngIf="buttonLabel">
        <span class="d-none d-sm-inline-block">{{ buttonLabel }}</span>
      </ng-container>
    </button>
  </div>
</div>
