<div class="input-group input-group-main">
  <input
    [(ngModel)]="searchTerm"
    [typeaheadAsync]="true"
    [typeahead]="dataSource$"
    [adaptivePosition]="true"
    [typeaheadMinLength]="2"
    [typeaheadOptionsLimit]="7"
    typeaheadOptionField="name"
    typeaheadGroupField="type"
    placeholder="Search by Address / Alias / Tx Hash / Block Hash"
    class="form-control form-control--focus-white"
    (keydown.enter)="onKeyEnter(searchTerm)"
  />
  <div class="input-group-append">
    <button class="btn btn-primary" type="submit" (click)="search()">
      <fa-icon [icon]="'search' | iconPipe" class="text-white" [ngClass]="{ 'd-inline-block': !!buttonLabel, 'd-sm-none': !!buttonLabel }"></fa-icon>
      <ng-container *ngIf="buttonLabel">
          <span class="d-none d-sm-inline-block">{{ buttonLabel }}</span>
      </ng-container>
    </button>
  </div>
</div>
