<div class="mb-5 pt-5">
  <div class="container p-0">
    <ng-container *ngIf="block$ | async; else noBlock">
      <div class="card h-100 pt-3">
        <block-detail-wrapper
          [wrapperBlock]="block$ | async"
          [endorsements]="endorsements$ | async"
          [confirmations]="numberOfConfirmations$ | async"
          [blockLoading]="blockLoading$ | async"
          [latestBlock]="latestBlock$ | async"
          (blockChangeClicked)="changeBlock($event)"
        ></block-detail-wrapper>
      </div>

      <div class="pt-5">
        <div class="card pt-3">
          <div class="card-header d-flex justify-content-between align-items-center px-3 py-0">
            <tabbed-table
              [tabs]="tabs"
              [page]="'block'"
              [loading]="transactionsLoading$ | async"
              [data]="transactions$ | async"
              (tabClicked)="tabSelected($event)"
              (loadMore)="onLoadMore()"
              [downloadable]="true"
              (onSort)="sortBy($event)"
              [orderBy]="orderBy$ | async"
            ></tabbed-table>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-template #noBlock>
      <div class="card p-3" *ngIf="(block$ | async) === null">
        <h5 class="card-title mb-4">
          Invalid Block Level
        </h5>
        <p>
          This block level is not valid.
        </p>
      </div>
    </ng-template>
  </div>
</div>
