<div class="mb-5 pt-5">
  <div class="card py-4 ">
    <div class="card-body p-4 ">
      <h5 class="card-title mb-3 ">
        {{ 'glossary-additional-terms.glossary' | translate }}
      </h5>
      <input [(ngModel)]="searchText" placeholder="Search by term" />
    </div>
  </div>
  <div class="container p-0">
    <div class="card h-100 pt-3 mb-">
      <div class="card-body p-4">
        <div class="row mb-3">
          <ul>
            <li *ngFor="let definition of definitions | filter: searchText">
              <div>
                <p>
                  {{ definition.name }}
                </p>
              </div>
              <div>
                <p>
                  {{ definition.field }}
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
