<div class="mb-5 pt-5">
  <div class="container p-0">
    <h1 hidden="true">
      baker list page with top 25 bakers and information about balance, number of votes, staking balance and number of delegators
    </h1>
    <div class="card h-100 pt-3">
      <div class="card-body p-4">
        <h5 class="card-title mb-3">
          Bakers
        </h5>
        <div class="row pb-3">
          <div class="col">
            <ng-container *ngIf="totalActiveBakers$ | async as totalActiveBakers">
              <h5 class="card-title__secondary mb-3 ">
                Total Number of Bakers
              </h5>
              <h3>
                {{ totalActiveBakers }}
                <loading-skeleton *ngIf="(totalActiveBakers$ | async) === undefined" [loadingWidth]="'150px'"></loading-skeleton>
              </h3>
            </ng-container>
          </div>
        </div>
        <div class="row pb-5">
          <div class="col col-12">
            <h5 class="card-title__secondary mb-3 ">
              Top 25 bakers by Staking Balance
            </h5>
          </div>
          <div class="col col-12 d-flex justify-content-center">
            <ng-container *ngIf="top24ChartDatasets$ | async">
              <div style="position: relative;">
                <chart-item
                  [datasets]="top24ChartDatasets$ | async"
                  [labels]="top24ChartLabels$ | async"
                  [options]="top24ChartOptions$ | async"
                  [colors]="top24ChartColors"
                  [size]="top24ChartSize$ | async"
                  chartType="pie"
                ></chart-item>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="row">
          <div class="col px-2">
            <tezblock-table
              [columns]="columns"
              [data]="data$ | async"
              [loading]="loading$ | async"
              [pagination]="showLoadMore$ | async"
              (onLoadMore)="loadMore()"
              (onSort)="sortBy($event)"
              [orderBy]="orderBy$ | async"
            ></tezblock-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
