<div class="container py-5">
  <div class="row">
    <div class="col">
      <h5 class="mb-4">
        Wallets
      </h5>
      <p>
        A list of wallets that support the Tezos protocol for transactions, delegations or other operations. Please help us to keep the list
        updated and
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScQBHm9-qIVRVrva3aVkDXb6Zza755BwY6TV8eOBGwkiRW-Fw/viewform" target="_blank">
          let us know
        </a>
        if a wallet is missing.
      </p>
    </div>
  </div>
</div>

<div class="mb-5">
  <div class="container p-0">
    <div class="card h-100 pt-3">
      <div class="card-body p-4">
        <div class="row">
          <div class="col-sm-2 pb-4 pb-sm-0 d-flex align-items-center justify-content-center">
            <img class="wallet__img" src="assets/img/wallets/AirGap.svg" />
          </div>
          <div class="col-sm-10">
            <h4 class="mb-2">
              <strong>AirGap</strong>
              <a class="btn btn-sm btn-icon btn-light rounded-circle ml-1 d-sm-inline-block" href="https://airgap.it" target="_blank">
                <fa-icon [icon]="'globe' | iconPipe" class="text-secondary"></fa-icon>
              </a>
              <a
                class="btn btn-sm btn-icon btn-light rounded-circle ml-1 d-sm-inline-block"
                href="https://twitter.com/AirGap_it"
                target="_blank"
              >
                <fa-icon [icon]="'twitter' | iconPipe" class="text-secondary"></fa-icon>
              </a>
              <a class="btn btn-sm btn-icon btn-light rounded-circle ml-1 d-sm-inline-block" href="https://t.me/AirGap" target="_blank">
                <fa-icon [icon]="'telegram' | iconPipe" class="text-secondary"></fa-icon>
              </a>
              <a
                class="btn btn-sm btn-icon btn-light rounded-circle ml-1 d-sm-inline-block"
                href="https://medium.com/airgap-it"
                target="_blank"
              >
                <fa-icon [icon]="'medium' | iconPipe" class="text-secondary"></fa-icon>
              </a>
              <a
                class="btn btn-sm btn-icon btn-light rounded-circle ml-1 d-sm-inline-block"
                href="https://github.com/airgap-it"
                target="_blank"
              >
                <fa-icon [icon]="'github' | iconPipe" class="text-secondary"></fa-icon>
              </a>
            </h4>

            <p>
              With AirGap your old smartphone is your new ‘hardware wallet’. Securely store your XTZ with the unique two device approach
              where one device is completely offline, delegate your Tezzies from cold storage and earn rewards. AirGap's focus is on
              accessible security, providing best in class security while maintaing a great user experience.
            </p>
            <div class="d-block my-3">
              <a class="badge badge-pill badge-primary-light mr-1" href="https://airgap.it#download">
                <fa-icon [icon]="'apple' | iconPipe" class="mr-1"></fa-icon>
                iOS
              </a>
              <a class="badge badge-pill badge-primary-light mr-1" href="https://airgap.it#download">
                <fa-icon [icon]="'android' | iconPipe" class="mr-1"></fa-icon>
                Android
              </a>
              <a class="badge badge-pill badge-primary-light " href="https://airgap.it#download">
                <fa-icon [icon]="'laptop' | iconPipe" class="mr-1"></fa-icon>
                Linux Distribution
              </a>
            </div>
            <div class="row mt-2">
              <div class="col-12">
                <strong>Features</strong>
              </div>
              <div class="col-12">
                <p>Offline device, highest security, XTZ delegation, coin agnostic, secure storage, social recovery, hot wallet option</p>
              </div>
            </div>
            <a role="button" class="btn btn-primary" href="https://airgap.it#download" target="_blank">Download</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mb-5">
  <div class="container p-0">
    <div class="card h-100 pt-3">
      <div class="card-body p-4">
        <div class="row">
          <div class="col-sm-2 pb-4 pb-sm-0 d-flex align-items-center justify-content-center">
            <img class="wallet__img" src="assets/img/wallets/galleon.png" />
          </div>
          <div class="col-sm-10">
            <h4 class="mb-2">
              <strong>Galleon</strong>
              <a
                class="btn btn-sm btn-icon btn-light rounded-circle ml-1 d-sm-inline-block"
                href="https://galleon-wallet.tech"
                target="_blank"
              >
                <fa-icon [icon]="'globe' | iconPipe" class="text-secondary"></fa-icon>
              </a>
              <a
                class="btn btn-sm btn-icon btn-light rounded-circle ml-1 d-sm-inline-block"
                href="https://twitter.com/CryptonomicTech"
                target="_blank"
              >
                <fa-icon [icon]="'twitter' | iconPipe" class="text-secondary"></fa-icon>
              </a>
              <a
                class="btn btn-sm btn-icon btn-light rounded-circle ml-1 d-sm-inline-block"
                href="https://github.com/Cryptonomic"
                target="_blank"
              >
                <fa-icon [icon]="'github' | iconPipe" class="text-secondary"></fa-icon>
              </a>
            </h4>

            <p>
              Galleon a smart wallet for Tezos. Galleon is a deployment of Tezori, an open source wallet framework for Tezos, supporting
              both software and hardware wallets in eight languages on Mac, Windows, and Linux.
            </p>
            <div class="d-block my-3">
              <a
                class="badge badge-pill badge-primary-light mr-1"
                href="https://cryptonomic-wallet.nyc3.digitaloceanspaces.com/release_0.9.0b/Galleon-0.9.0-b.dmg"
              >
                <fa-icon [icon]="'apple' | iconPipe" class="mr-1"></fa-icon>
                macOS
              </a>
              <a
                class="badge badge-pill badge-primary-light mr-1"
                href="https://cryptonomic-wallet.nyc3.digitaloceanspaces.com/release_0.9.0b/Galleon_0.9.0-b.msi"
              >
                <fa-icon [icon]="'laptop' | iconPipe" class="mr-1"></fa-icon>
                Windows
              </a>
              <a
                class="badge badge-pill badge-primary-light "
                href="https://cryptonomic-wallet.nyc3.digitaloceanspaces.com/release_0.9.0b/galleon_0.9.0-b_amd64.deb"
              >
                <fa-icon [icon]="'laptop' | iconPipe" class="mr-1"></fa-icon>
                Linux
              </a>
            </div>
            <div class="row mt-2">
              <div class="col-12">
                <strong>Features</strong>
              </div>
              <div class="col-12">
                <p>Ledger Support, Delegation</p>
              </div>
            </div>
            <a role="button" class="btn btn-primary" href="https://galleon-wallet.tech" target="_blank">Download</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
