<div *ngFor="let operation of transferOperations$ | async">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-2 col-sm-2 p-0 order-0">
        <div class="d-block ">
          <app-hash-cell [data]="operation.hash"></app-hash-cell>
          <p class="m-0 small text-secondary" tooltip="{{ operation.timestamp / 1000 | amFromUnix }}">
            {{ operation.timestamp | amTimeAgo }}
          </p>
        </div>
      </div>
      <div class="col-2 col-sm-1 order-1">
        <fa-icon [icon]="'levelDownAlt' | iconPipe" class="ml-1 text-primary-light"></fa-icon>
      </div>
      <div class="col-4 col-sm-4 order-2">
        <div class="d-block ">
          <div class="mb-1">
            <address-item [address]="operation.singleFrom"></address-item>
          </div>
          <address-item [address]="operation.singleTo"></address-item>
        </div>
      </div>
      <div class="col-3 col-sm-3 p-0 order-3">
        <div class="d-block ">
            <amount-cell [data]="{ amount: operation.amount }" [options]="{ showFiatValue: false }"></amount-cell>
        </div>
      </div>
      <div class="col-1 col-sm-1 p-0 order-4">
        <p class="m-0">{{ operation.symbol }}</p>
      </div>
    </div>
    <hr />
  </div>
</div>
