<div class="d-flex justify-content-between align-items-center">
  <div>Slippage Tolerance</div>
  <div class="btn-group btn-group-sm d-block" role="group">
    <ng-container *ngFor="let slippage of slippages">
      <button
        (click)="setSlippage(slippage)"
        type="button"
        class="btn"
        [disabled]="!(connectedWallet$ | async)"
        [ngClass]="
          slippage === (selectedSlippage$ | async)
            ? 'btn-dark'
            : 'btn-outline-dark'
        "
      >
        {{ slippage }}%
      </button>
    </ng-container>
  </div>
</div>
