<div class="mb-5 pt-5">
  <div class="container p-0">
    <h1 hidden="true">
      Account page with information about transactions, balances, rewards, baker information, value, baking and endorsing rights.
    </h1>
    <ng-container *ngIf="account$ | async as account; else noAccount">
      <div class="row">
        <div class="col-lg-6 mb-4 mb-lg-0 card__top">
          <div class="card h-100 pt-3 ">
            <div class="card-body p-4 ">
              <div class="row mb-4">
                <div class="d-flex align-items-end col-md-2 pr-0 mb-sm-0 pb-1 pb-sm-3">
                  <identicon [address]="account.account_id" [sizeLarge]="true"></identicon>
                  <a
                    (click)="copyToClipboard(account.account_id); changeState(account.account_id)"
                    value="click to copy"
                    class="btn btn-sm btn-icon btn-light rounded-circle ml-1 d-inline-block d-sm-none"
                  >
                    <fa-icon [icon]="'copy' | iconPipe" class="text-secondary"></fa-icon>
                  </a>
                  <a class="btn btn-sm btn-icon btn-light rounded-circle ml-1 d-inline-block d-sm-none" (click)="showQr()">
                    <fa-icon [icon]="'qrcode' | iconPipe" class="text-secondary"></fa-icon>
                  </a>
                  <a class="btn btn-sm btn-icon btn-light rounded-circle ml-1 d-inline-block d-sm-none" (click)="showTelegramModal()">
                    <fa-icon [icon]="'bell' | iconPipe" class="text-secondary"></fa-icon>
                  </a>
                </div>
                <div class="col-md-10 pl-sm-0 pr-0 address--item__container">
                  <address-item
                    class="d-inline-flex"
                    [address]="account.account_id"
                    [options]="{ showFullAddress: true, forceIdenticon: true, hideIdenticon: !hasLogo }"
                    [clickableButton]="false"
                  ></address-item>

                  <a
                    [@changeBtnColor]="current"
                    (click)="copyToClipboard(account.account_id); changeState(account.account_id)"
                    value="click to copy"
                    class="btn btn-sm btn-icon btn-light rounded-circle ml-1 d-none d-sm-inline-block"
                  >
                    <fa-icon [icon]="'copy' | iconPipe" class="text-secondary"></fa-icon>
                  </a>
                  <a class="btn btn-sm btn-icon btn-light rounded-circle ml-1 d-none d-sm-inline-block" (click)="showQr()">
                    <fa-icon [icon]="'qrcode' | iconPipe" class="text-secondary"></fa-icon>
                  </a>
                  <a class="btn btn-sm btn-icon btn-light rounded-circle ml-1 d-none d-sm-inline-block" (click)="showTelegramModal()">
                    <fa-icon [icon]="'bell' | iconPipe" class="text-secondary"></fa-icon>
                  </a>
                  <div>
                    <address-item
                      *ngIf="hasAlias"
                      class="d-inline-flex"
                      [address]="account.account_id"
                      [options]="{ hideIdenticon: true }"
                    ></address-item>
                    <span *ngIf="isExchange" class="badge badge-pill badge-primary-light ml-1">
                      {{ 'account-detail.exchange' | translate }}
                    </span>
                    <span *ngIf="(revealed$ | async) === 'Revealed'" class="badge badge-pill badge-light ml-1">
                      {{ 'account-detail.revealed' | translate }}
                    </span>
                    <span *ngIf="(revealed$ | async) === 'Not Revealed'" class="badge badge-pill badge-light ml-1">
                      {{ 'account-detail.not-revealed' | translate }}
                    </span>
                  </div>
                </div>
              </div>

              <div class="row mb-3">
                <div class=" col-md-2 pr-0">
                  <p class="text-secondary mb-0">{{ 'account-detail.balance' | translate }}</p>
                </div>
                <div
                  class=" col-md-10 pl-sm-0"
                  *ngIf="(account.balance | amountConverter: { protocolIdentifier: 'xtz' }) > '0'; else hideValue"
                >
                  <h5 class="mb-0">
                    <amount-cell [data]="account.balance" [options]="{ showFiatValue: false }"></amount-cell>
                  </h5>
                </div>
                <ng-template #hideValue>
                  <div class=" col-md-10 pl-sm-0">
                    <h5 class="mb-0">0</h5>
                  </div>
                </ng-template>
              </div>

              <div class="row mb-3">
                <ng-container *ngIf="isMainnet">
                  <div class=" col-md-2 pr-0">
                    <p class="text-secondary mb-0">{{ 'account-detail.value' | translate }}</p>
                  </div>
                  <div
                    class=" col-md-10 pl-sm-0"
                    *ngIf="
                      (account.balance | currencyConverter: { currInfo: fiatCurrencyInfo$ | async, protocolIdentifier: 'xtz' }) > 0;
                      else hideValue
                    "
                  >
                    <h5
                      *appVar="
                        account.balance | currencyConverter: { currInfo: fiatCurrencyInfo$ | async, protocolIdentifier: 'xtz' } as value
                      "
                      class="mb-0"
                    >
                      {{ 1 | currencySymbol: { currInfo: fiatCurrencyInfo$ | async } }}{{ value | number: getPrecision(value) }}
                    </h5>
                  </div>
                </ng-container>
              </div>

              <div class="row mb-3">
                <div class="col-md-2 pr-0">
                  <p class="text-secondary mb-0">Assets</p>
                </div>
                <div class="col-md-10 pl-sm-0 d-flex align-items-center">
                  <app-assets-value [assets]="assets$ | async" [useHeader]="true"></app-assets-value>
                  <button
                    (click)="showAssets()"
                    [disabled]="(numberOfContractAssets$ | async) === 0"
                    class="btn btn-sm btn-icon btn-light rounded-circle ml-1"
                  >
                    <fa-icon [icon]="'expand' | iconPipe" class="text-secondary"></fa-icon>
                  </button>
                </div>
              </div>

              <h5 class="card-title__secondary mb-3 pt-3">
                <tooltip-item
                  [title]="'account-detail.related-accounts' | translate"
                  [tooltip]="'account-detail.related-accounts_tooltip' | translate"
                ></tooltip-item>
              </h5>
              <ng-container *ngIf="relatedAccounts$ | async as relatedAccountsList">
                <p *ngIf="relatedAccountsList.length === 0" class="text-secondary m-0">
                  {{ 'account-detail.no-related-accounts' | translate }}
                </p>
                <div class="mb-2" *ngFor="let relatedAccount of relatedAccounts$ | async | slice: 0:paginationLimit" [@AnimateList]>
                  <address-item
                    *ngIf="relatedAccount"
                    [address]="relatedAccount.account_id"
                    [options]="{ showFullAddress: !(isMobile$ | async) }"
                  ></address-item>
                </div>
                <div *ngIf="relatedAccounts$ | async as relatedAccountsList">
                  <button
                    class="btn btn-link p-0 collapse--btn"
                    *ngIf="paginationLimit < relatedAccountsList.length"
                    (click)="showMoreItems()"
                    [ngClass]="{ 'btn--rotated': !isCollapsed }"
                  >
                    <span>{{ 'account-detail.show-all-accounts' | translate }}</span>
                    <fa-icon [icon]="'longArrowAltDown' | iconPipe" class="ml-1"></fa-icon>
                  </button>

                  <button
                    class="btn btn-link p-0 collapse--btn"
                    *ngIf="paginationLimit > numberOfInitialRelatedAccounts"
                    (click)="showLessItems()"
                    [ngClass]="{ 'btn--rotated': isCollapsed }"
                  >
                    <span>{{ 'account-detail.minimize' | translate }}</span>
                    <fa-icon [icon]="'longArrowAltDown' | iconPipe" class="ml-1"></fa-icon>
                  </button>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
        <div class=" col-lg-6 mb-4 mb-lg-0 card__top">
          <div class="card h-100 pt-3 ">
            <div class="card-body p-4">
              <h5 class="card-title mb-4 ">
                {{ 'account-detail.delegation' | translate }}
              </h5>

              <ng-container *ngIf="delegatedAccountAddress === undefined">
                <div class="pb-3">
                  <loading-skeleton [loadingWidth]="'70%'"></loading-skeleton>
                </div>
                <div class="pb-3">
                  <loading-skeleton [loadingWidth]="'70%'"></loading-skeleton>
                </div>
                <div class="pb-3">
                  <loading-skeleton [loadingWidth]="'60%'"></loading-skeleton>
                </div>
                <div class="pb-3">
                  <loading-skeleton [loadingWidth]="'60%'"></loading-skeleton>
                </div>
                <div class="pb-3">
                  <loading-skeleton [loadingWidth]="'60%'"></loading-skeleton>
                </div>
                <div class="pb-3">
                  <loading-skeleton [loadingWidth]="'50%'"></loading-skeleton>
                </div>
              </ng-container>

              <ng-container *ngIf="delegatedAccountAddress === ''">
                <h5 class="text-secondary pt-3">
                  <strong>{{ 'account-detail.not-delegated' | translate }}</strong>
                </h5>
                <p class="text-secondary pt-3">{{ 'account-detail.not-delegated_text' | translate }}</p>

                <div class="d-flex align-items-center mb-2">
                  <p class="d-inline-block m-0">{{ 'account-detail.delegate-to' | translate }}</p>
                  <div class="d-inline-block ml-2">
                    <address-item [address]="selectedDelegation" [clickableButton]="false"></address-item>
                  </div>
                </div>
                <button class="btn btn-sm btn-primary-light w-100" type="button" (click)="delegate()">
                  {{ 'account-detail.delegate-now' | translate }}
                </button>
                <div class="d-flex justify-content-center">
                  <small class="text-muted">{{ 'account-detail.or' | translate }}</small>
                </div>
                <ng-template #delegationControlTemplate let-model="item" let-index="index">
                  <address-item [address]="model" [clickableButton]="false"></address-item>
                </ng-template>
                <input
                  [formControl]="delegationControl"
                  [typeahead]="delegationControlDataSource$"
                  [typeaheadAsync]="true"
                  [typeaheadItemTemplate]="delegationControlTemplate"
                  [adaptivePosition]="true"
                  [typeaheadMinLength]="0"
                  [typeaheadScrollable]="true"
                  [typeaheadOptionsInScrollableView]="10"
                  [typeaheadOptionsLimit]="10000"
                  placeholder="{{ 'account-detail.placeholder' | translate }}"
                  class="form-control form-control--focus-white"
                  (typeaheadOnSelect)="onDelegationControlSelect($event)"
                  [typeaheadIsFirstItemActive]="false"
                  [isAnimated]="true"
                />
              </ng-container>
              <ng-container *ngIf="delegatedAccountAddress">
                <div class="row mb-3">
                  <div class=" col-md-5">
                    <p class="text-secondary mb-0">
                      <tooltip-item
                        [title]="'account-detail.delegated-account' | translate"
                        [tooltip]="'account-detail.delegated-account_tooltip' | translate"
                      ></tooltip-item>
                    </p>
                  </div>
                  <div class=" col-md-7">
                    <address-item
                      [address]="delegatedAccountAddress"
                      [clickableButton]="delegatedAccountAddress !== account.account_id"
                    ></address-item>
                  </div>
                </div>
                <div class="row mb-3" *ngIf="delegatedAmount">
                  <div class="col-md-5">
                    <p class="text-secondary mb-0">
                      <tooltip-item
                        [title]="'account-detail.amount' | translate"
                        [tooltip]="'account-detail.amount_tooltip' | translate"
                      ></tooltip-item>
                    </p>
                  </div>
                  <div class="col-md-7">
                    <p class="mb-0">
                      <amount-cell [data]="delegatedAmount" [options]="{ showFiatValue: isMainnet }"></amount-cell>
                    </p>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-5">
                    <p class="text-secondary mb-0">
                      <tooltip-item
                        [title]="'account-detail.next-reward-expected' | translate"
                        [tooltip]="'account-detail.next-reward-expected_tooltip' | translate"
                      ></tooltip-item>
                    </p>
                  </div>
                  <div class="col-md-7">
                    <p class="mb-0">
                      <loading-skeleton *ngIf="isRewardAmountMinusFeeBusy$ | async" [loadingWidth]="'150px'"></loading-skeleton>
                      <ng-container *ngIf="!(isRewardAmountMinusFeeBusy$ | async)">
                        <ng-container *ngIf="rewardAmountMinusFee$ | async">
                          {{ remainingTime$ | async }}
                        </ng-container>
                        <ng-container *ngIf="(rewardAmountMinusFee$ | async) === null">
                          {{ 'account-detail.not-available' | translate }}
                        </ng-container>
                      </ng-container>
                    </p>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-5">
                    <p class="text-secondary mb-0">
                      <tooltip-item
                        [title]="'account-detail.reward-amount' | translate"
                        [tooltip]="'account-detail.reward-amount_tooltip' | translate"
                      ></tooltip-item>
                    </p>
                  </div>
                  <div class="col col-md-7">
                    <p class="mb-0">
                      <loading-skeleton *ngIf="isRewardAmountMinusFeeBusy$ | async" [loadingWidth]="'150px'"></loading-skeleton>
                      <ng-container *ngIf="!(isRewardAmountMinusFeeBusy$ | async)">
                        <amount-cell
                          *ngIf="rewardAmountMinusFee$ | async as rewardAmountMinusFee"
                          [data]="rewardAmountMinusFee"
                        ></amount-cell>
                        <ng-container *ngIf="(rewardAmountMinusFee$ | async) === null">
                          {{ 'account-detail.not-available' | translate }}
                        </ng-container>
                      </ng-container>
                    </p>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-5">
                    <p class="text-secondary mb-0">
                      <tooltip-item
                        [title]="'account-detail.baker' | translate"
                        [tooltip]="'account-detail.baker_tooltip' | translate"
                      ></tooltip-item>
                    </p>
                  </div>
                  <div class="col-md-7">
                    <address-item [address]="bakerAddress" [clickableButton]="bakerAddress !== account.account_id"></address-item>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-5">
                    <p class="text-secondary mb-0">
                      <tooltip-item
                        [title]="'account-detail.baker-split' | translate"
                        [tooltip]="'account-detail.baker-split_tooltip' | translate"
                      ></tooltip-item>
                    </p>
                  </div>
                  <div class=" col-md-7" *ngIf="tezosBakerFeeLabel$ | async as tezosBakerFeeLabel; else loading">
                    <p class="mb-0">{{ tezosBakerFeeLabel }}</p>
                  </div>
                  <ng-template #loading>
                    <div class=" col-md-7">
                      <loading-skeleton [loadingWidth]="'150px'"></loading-skeleton>
                    </div>
                  </ng-template>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>

      <div class="pt-5">
        <div class="card">
          <div class="card-body px-3 px-sm-3 pt-4 pb-3">
            <ng-container *ngIf="account.is_baker">
              <baker-table
                [address]="bakerAddress"
                [tabs]="bakerTabs"
                [data]="bakerTableInfos"
                [ratings]="bakerTableRatings$ | async"
                [bakerFee$]="tezosBakerFee$"
              ></baker-table>
            </ng-container>
            <ng-container *ngIf="!account.is_baker || bakerTabs[0].active">
              <div class="container px-3 chart__container">
                <div class="row">
                  <div class="col-md-6 col-lg-4 px-0 px-sm-3">
                    <h5 class="card-title__secondary mb-3">
                      {{ 'account-detail.balance' | translate }}
                      <small>{{ 'account-detail.last30d' | translate }}</small>
                    </h5>
                    <ng-container *ngIf="balanceChartDatasets$ | async">
                      <chart-item
                        [datasets]="balanceChartDatasets$ | async"
                        [labels]="balanceChartLabels$ | async"
                        [options]="balanceChartOptions"
                      ></chart-item>
                    </ng-container>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>

      <div #transactions class="pt-5">
        <div class="card pt-3">
          <div class="card-header d-flex justify-content-between align-items-center px-3 py-0">
            <tabbed-table
              [tabs]="tabs"
              [page]="'account'"
              [loading]="areTransactionsLoading$ | async"
              [data]="transactions$ | async"
              (tabClicked)="tabSelected($event)"
              (loadMore)="onLoadMore()"
              [downloadable]="true"
              (onSort)="sortBy($event)"
              [orderBy]="orderBy$ | async"
            ></tabbed-table>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-template #noAccount>
      <div class="card p-3" *ngIf="(account$ | async) === null">
        <h5 class="card-title mb-4 ">
          {{ 'account-detail.invalid-address' | translate }}
        </h5>
        <p>
          {{ 'account-detail.invalid-address_text' | translate }}
        </p>
      </div>
    </ng-template>
  </div>
</div>
