::ng-deep app-account-detail {
  .chart__container {
    min-height: 125px;
  }
  .card__top {
    min-height: 328px;
  }
  .btn--rotated fa-icon svg {
    transform: rotate(-180deg);
  }
  .address--item__container {
    overflow: hidden;
    word-break: break-word;
    address-item a {
      text-align: left;
      white-space: normal;
      font-size: 13px;
    }
  }
}
