::ng-deep app-account-detail {
  .card__top {
    min-height: 328px;
  }
  .btn--rotated fa-icon svg {
    transform: rotate(-180deg);
  }
  .address--item__container {
    overflow: hidden;
    word-break: break-word;
    address-item button {
      text-align: left;
      white-space: normal;
      font-size: 13px;
    }
  }
}

.invalid {
  padding-left: 20px;
  padding-bottom: 20px;
}