<div class="mb-5 pt-5">
  <div class="container p-0">
    <div *ngIf="account$ | async as account" class="row">
      <div class="col-lg-6 mb-4 mb-lg-0">
        <div class="card h-100 pt-3">
          <div class="card-body p-4 ">
            <div class="row mb-4">
              <div class="d-flex align-items-end col-md-2 pr-0 mb-sm-0 pb-3">
                <identicon [address]="account.account_id" [sizeLarge]="true"></identicon>
                <a
                  (click)="copyToClipboard(account.account_id); changeState(account.account_id)"
                  value="click to copy"
                  class="btn btn-sm btn-icon btn-light rounded-circle ml-1 d-inline-block d-sm-none"
                >
                  <fa-icon [icon]="'copy' | iconPipe" class="text-secondary"></fa-icon>
                </a>
                <a class="btn btn-sm btn-icon btn-light rounded-circle ml-1 d-inline-block d-sm-none" (click)="showQr()">
                  <fa-icon [icon]="'qrcode' | iconPipe" class="text-secondary"></fa-icon>
                </a>
                <a class="btn btn-sm btn-icon btn-light rounded-circle ml-1 d-inline-block d-sm-none" (click)="showTelegramModal()">
                  <fa-icon [icon]="'bell' | iconPipe" class="text-secondary"></fa-icon>
                </a>
              </div>
              <div class="col-md-10 pl-sm-0 pr-0 address--item__container">
                <address-item
                  class="d-inline-flex"
                  [address]="account.account_id"
                  [showFull]="true"
                  [clickableButton]="false"
                  [forceIdenticon]="true"
                  [hideIdenticon]="!hasLogo"
                ></address-item>

                <a
                  [@changeBtnColor]="current"
                  (click)="copyToClipboard(account.account_id); changeState(account.account_id)"
                  value="click to copy"
                  class="btn btn-sm btn-icon btn-light rounded-circle ml-1 d-none d-sm-inline-block"
                >
                  <fa-icon [icon]="'copy' | iconPipe" class="text-secondary"></fa-icon>
                </a>
                <a class="btn btn-sm btn-icon btn-light rounded-circle ml-1 d-none d-sm-inline-block" (click)="showQr()">
                  <fa-icon [icon]="'qrcode' | iconPipe" class="text-secondary"></fa-icon>
                </a>
                <a class="btn btn-sm btn-icon btn-light rounded-circle ml-1 d-none d-sm-inline-block" (click)="showTelegramModal()">
                  <fa-icon [icon]="'bell' | iconPipe" class="text-secondary"></fa-icon>
                </a>
                <div>
                  <address-item *ngIf="hasAlias" class="d-inline-flex" [address]="account.account_id" [hideIdenticon]="true"></address-item>
                  <span *ngIf="revealed === 'Revealed'" class="badge badge-pill badge-primary-light ml-1">Revealed</span>
                  <span *ngIf="revealed === 'Not Revealed'" class="badge badge-pill badge-primary-light ml-1">Not Revealed</span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class=" col-md-2 pr-0">
                <p class="text-secondary">Balance</p>
              </div>
              <div
                class=" col-md-10 pl-sm-0"
                *ngIf="(account.balance | amountConverter: { protocolIdentifier: 'xtz' }) > '0'; else hideValue"
              >
                <h5>
                  <span
                    class="d-inline-block"
                    [innerHtml]="
                      account.balance | amountConverter: { protocolIdentifier: 'xtz', fontSmall: true, fontColor: true } | safeHtml
                    "
                  ></span>
                  ꜩ
                </h5>
              </div>
              <ng-template #hideValue>
                <div class=" col-md-10 pl-sm-0">
                  <h5>0</h5>
                </div>
              </ng-template>
            </div>

            <div class="row">
              <div class=" col-md-2 pr-0">
                <p class="text-secondary">Value</p>
              </div>
              <div
                class=" col-md-10 pl-sm-0"
                *ngIf="
                  (account.balance | currencyConverter: { currInfo: fiatCurrencyInfo$ | async, protocolIdentifier: 'xtz' }) > 0;
                  else hideValue
                "
              >
                <h5>
                  {{ 1 | currencySymbol: { currInfo: fiatCurrencyInfo$ | async }
                  }}{{
                    account.balance
                      | currencyConverter: { currInfo: fiatCurrencyInfo$ | async, protocolIdentifier: 'xtz' }
                      | number: '1.0-6'
                  }}
                </h5>
              </div>
            </div>
            <h5 class="card-title__secondary mb-3 pt-3">
              Related Accounts
            </h5>
            <ng-container *ngIf="relatedAccounts | async as relatedAccountsList">
              <p *ngIf="relatedAccountsList.length === 0" class="text-secondary m-0">
                This account has no related accounts.
              </p>
              <div class="mb-2" *ngFor="let relatedAccount of relatedAccounts | async | slice: 0:paginationLimit" [@AnimateList]>
                <address-item [address]="relatedAccount.account_id" *ngIf="relatedAccount" [showFull]="true"></address-item>
              </div>
              <div *ngIf="relatedAccounts | async as relatedAccountsList">
                <button
                  class="btn btn-link p-0 collapse--btn"
                  *ngIf="paginationLimit < relatedAccountsList.length"
                  (click)="showMoreItems()"
                  [ngClass]="{ 'btn--rotated': !isCollapsed }"
                >
                  <span>Show All Accounts</span>
                  <fa-icon [icon]="'longArrowAltDown' | iconPipe" class="ml-1"></fa-icon>
                </button>

                <button
                  class="btn btn-link p-0 collapse--btn"
                  *ngIf="paginationLimit > numberOfInitialRelatedAccounts"
                  (click)="showLessItems()"
                  [ngClass]="{ 'btn--rotated': isCollapsed }"
                >
                  <span>Minimize</span>
                  <fa-icon [icon]="'longArrowAltDown' | iconPipe" class="ml-1"></fa-icon>
                </button>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class=" col-lg-6 mb-4 mb-lg-0">
        <div class="card h-100 pt-3">
          <div class="card-body p-4">
            <h5 class="card-title mb-4 ">
              Delegation
            </h5>

            <ng-container *ngIf="!delegatedAccountAddress">
              <h5 class="text-secondary pt-3"><strong>This account has not been delegated.</strong></h5>
              <p class="text-secondary pt-3">Delegate to a baker and contribute to the network validation and receive a reward back.</p>
            </ng-container>
            <ng-container *ngIf="delegatedAccountAddress">
              <div class="row">
                <div class=" col-md-5">
                  <p class="text-secondary">Delegated Account</p>
                </div>
                <div class=" col-md-7  pb-3">
                  <address-item [address]="delegatedAccountAddress"></address-item>
                </div>
              </div>
              <div class="row" *ngIf="delegatedAmount">
                <div class="col-md-5">
                  <p class="text-secondary">Amount</p>
                </div>
                <div class="col-md-7">
                  <p>
                    <span
                      class="d-inline-block"
                      [innerHtml]="
                        delegatedAmount
                          | amountConverter: { protocolIdentifier: 'xtz', maxDigits: 6, fontSmall: true, fontColor: true }
                          | safeHtml
                      "
                    ></span>
                    ꜩ
                    <span class="badge badge-pill badge-primary-light ml-1">
                      {{ 1 | currencySymbol: { currInfo: fiatCurrencyInfo$ | async }
                      }}{{
                        delegatedAmount
                          | currencyConverter: { currInfo: fiatCurrencyInfo$ | async, protocolIdentifier: 'xtz' }
                          | number: '1.0-2'
                      }}
                    </span>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <p class="text-secondary">Next Reward Expected</p>
                </div>
                <!-- TODO: baker reward time -->
                <div class=" col-md-7">
                  <span>not availabe</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <p class="text-secondary">Reward Amount</p>
                </div>
                <!-- TODO: baker reward amount -->
                <div class="col col-md-7">
                  <p>not available</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <p class="text-secondary">Baker</p>
                </div>
                <div class="col-md-7 pb-3">
                  <address-item [address]="bakerAddress"></address-item>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <p class="text-secondary">Baker Fee</p>
                </div>
                <div class=" col-md-7" *ngIf="tezosBakerFee; else loading">
                  <p>{{ tezosBakerFee }}</p>
                </div>
                <ng-template #loading>
                  <div class=" col-md-7">
                    <loading-skeleton [loadingWidth]="'150px'"></loading-skeleton>
                  </div>
                </ng-template>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>

    <div class="pt-5" *ngIf="isValidBaker">
      <div class="card pt-3">
        <div class="card-body p-4 ">
          <div class="container p-0">
            <div class="row">
              <div class=" col-md-6 col-lg-4">
                <div class="mb-4">
                  <h5 class="card-title__secondary mb-3">
                    Staking Bond
                  </h5>
                  <h3>
                    <span
                      class="d-inline-block"
                      [innerHtml]="
                        stakingBond
                          | amountConverter: { protocolIdentifier: 'xtz', maxDigits: 10, fontSmall: true, fontColor: true }
                          | safeHtml
                      "
                    ></span>
                    ꜩ
                  </h3>
                </div>

                <ng-container *ngIf="stakingBalance; else loadingGraph">
                  <div class="container p-0">
                    <div class="row mb-2">
                      <div class="col">
                        <p class="text-secondary m-0">Staking Balance</p>
                      </div>
                      <div class="col">
                        <p class="text-right text-secondary m-0">
                          Staking Capactiy
                        </p>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="stakingBalance > stakingCapacity">
                    <progressbar [animate]="true" [value]="stakingProgress" style="height:6px" type="danger"></progressbar>
                  </div>
                  <div *ngIf="stakingBalance <= stakingCapacity">
                    <progressbar [animate]="true" [value]="stakingProgress" style="height:6px"></progressbar>
                  </div>
                  <div class="mt-2 container">
                    <div class="row">
                      <div class="col p-0">
                        <p class="m-0">
                          <span
                            class="d-inline-block"
                            [innerHtml]="
                              stakingBalance
                                | amountConverter: { protocolIdentifier: 'xtz', maxDigits: 10, fontSmall: true, fontColor: true }
                                | safeHtml
                            "
                          ></span>

                          ꜩ
                        </p>
                      </div>
                      <div class="col p-0">
                        <div class="float-right">
                          <p class="m-0 ">
                            <span
                              class="d-inline-block"
                              [innerHtml]="
                                stakingCapacity
                                  | amountConverter: { protocolIdentifier: 'xtz', maxDigits: 10, fontSmall: true, fontColor: true }
                                  | safeHtml
                              "
                            ></span>

                            ꜩ
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>

                <ng-template #loadingGraph>
                  <div class="container p-0">
                    <div class="row mb-2">
                      <div class="col">
                        <p class="text-secondary m-0">Staking Balance</p>
                      </div>
                      <div class="col">
                        <p class="text-right text-secondary m-0">
                          Staking Capactiy
                        </p>
                      </div>
                    </div>
                  </div>
                  <div>
                    <progressbar [value]="0" style="height:6px"></progressbar>
                  </div>
                  <div class="mt-2 container">
                    <div class="row">
                      <div class="col p-0">
                        <loading-skeleton></loading-skeleton>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </div>
              <div class=" col-md-6 col-lg-4 pl-sm-5 py-sm-0 py-4">
                <div class="mb-4">
                  <h5 class="card-title__secondary mb-3 ">
                    Frozen Balance
                  </h5>
                  <h3>
                    <ng-container *ngIf="!frozenBalance; else deposits">
                      <loading-skeleton [loadingWidth]="'50%'"></loading-skeleton>
                    </ng-container>
                    <ng-template #deposits>
                      <span
                        class="d-inline-block"
                        [innerHtml]="
                          frozenBalance
                            | amountConverter: { protocolIdentifier: 'xtz', maxDigits: 10, fontSmall: true, fontColor: true }
                            | safeHtml
                        "
                      ></span>
                      ꜩ
                    </ng-template>
                  </h3>
                </div>
              </div>
              <div class=" col-md-6 col-lg-4">
                <!-- <div class="mb-4">
                  <h5 class="card-title mb-3">
                    Pending Rewards
                  </h5>
                  <h3>
                    <ng-container *ngIf="!accumulatedRewards; else rewards">
                      <loading-skeleton [loadingWidth]="'50%'"></loading-skeleton>
                    </ng-container>
                    <ng-template #rewards>
                      <span
                        class="d-inline-block"
                        [innerHtml]="
                          accumulatedRewards
                            | amountConverter: { protocolIdentifier: 'xtz', maxDigits: 10, fontSmall: true, fontColor: true }
                            | safeHtml
                        "
                      ></span>
                      ꜩ
                    </ng-template>
                  </h3>
                </div> -->
                <div class="mb-4">
                  <h5 class="card-title__secondary mb-3">
                    Payout Accuracy
                  </h5>
                  <div class="d-block">
                    <img src="/assets/img/bakingbad_logo.png" width="24px" />

                    <button type="button" class="btn btn-link py-0 text-capitalize" ng-href="#here">
                      <ng-container *ngIf="!bakingBadRating">
                        <loading-skeleton [loadingWidth]="'50px'"></loading-skeleton>
                      </ng-container>
                      <ng-container *ngIf="bakingBadRating">
                        {{ bakingBadRating }}
                      </ng-container>
                    </button>
                  </div>
                </div>
                <div>
                  <h5 class="card-title__secondary mb-3">
                    Baking Efficiency
                  </h5>
                  <div class="d-block">
                    <div>
                      <img src="/assets/img/mytezosbaker_logo.svg" width="24px" />

                      <button type="button" class="btn btn-link py-0 text-capitalize" ng-href="#here" (click)="goToMYTB()">
                        <ng-container *ngIf="!tezosBakerRating">
                          <loading-skeleton [loadingWidth]="'65px'"></loading-skeleton>
                        </ng-container>
                        <ng-container *ngIf="tezosBakerRating">
                          {{ tezosBakerRating }}
                        </ng-container>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pt-5">
      <div class="card pt-3">
        <div class="card-header d-flex justify-content-between align-items-center px-3 py-0">
          <tabbed-table
            [tabs]="tabs"
            [page]="'account'"
            [loading]="transactionsLoading$"
            [data]="transactions$"
            [dataService]="transactionSingleService"
            (tabClicked)="tabSelected($event)"
          ></tabbed-table>
        </div>
      </div>
    </div>
  </div>
</div>
