$light-blue: #d6dfff;
$light-grey: #f4f6fc;
$blue: #2e5bff;

::ng-deep app-account-detail {
  .chart__container {
    min-height: 125px;
  }
  .card__top {
    min-height: 328px;
  }
  .btn--rotated fa-icon svg {
    transform: rotate(-180deg);
  }
  .address--item__container {
    overflow: hidden;
    word-break: break-word;
    address-item a {
      text-align: left;
      white-space: normal;
      font-size: 13px;
    }
  }

  .h5 {
    font-size: 1.09375rem;
    font-weight: 500;
  }
  .badge-disabled {
    opacity: 0.3;
  }
}

.float-left > * {
  float: left;
}

.rights-chart {
  display: grid;
  grid-auto-rows: 10px;
  grid-template-columns: repeat(auto-fit, 10px);
  grid-gap: 2px;
  min-height: 145px;
}
