/* Global Styles */

/* Manrope font imports*/
@font-face {
  font-family: 'Manrope';
  src: url(/assets/fonts/Manrope/manrope-regular.woff) format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Manrope-Light';
  src: url(/assets/fonts/Manrope/manrope-light.woff) format('truetype');
  font-weight: 200;
}

$primary-light-color: #d6dfff;
$primary-dark-color: #2e384d;
$box-shadow: 0 10px 20px 0 rgba(46, 91, 255, 0.07);

/* custom tezblock colors */
$theme-colors: (
  'primary': #2e5bff,
  'primary-light': $primary-light-color,
  'primary-dark': $primary-dark-color,
  'secondary': #8798ad,
  'light': #f4f6fc
);

/* Sass overwrites */
$body-bg: #f4f6fc;
$card-cap-bg: #fff;
$card-border-color: rgba(46, 91, 255, 0.08);
$dropdown-border-color: rgba(46, 91, 255, 0.08);
$card-border-radius: 0;
$alert-border-radius: 0;
$dropdown-border-radius: 0;
$link-decoration: none;
$link-hover-decoration: none;
$link-color: map_get($theme-colors, 'primary');
$navbar-light-active-color: map_get($theme-colors, 'primary');
$badge-pill-padding-x: 1em;
$badge-padding-y: 0.5em;
$badge-padding-x: 0.5em;
$table-hover-bg: rgba(46, 91, 255, 0.04);
$font-family-sans-serif: 'Manrope', sans-serif;
$font-size-base: 14;
$dropdown-link-hover-color: map_get($theme-colors, 'primary');
$dropdown-link-hover-bg: none;
$nav-tabs-border-width: 0;
$nav-tabs-link-active-color: map_get($theme-colors, 'primary');
$nav-tabs-link-active-bg: none;
$navbar-light-toggler-border-color: transparent;
$navbar-toggler-font-size: 14px;
$input-btn-focus-box-shadow: none;
$tooltip-bg: map_get($theme-colors, 'secondary');
$list-group-item-padding-y: 0.25rem;
$list-group-item-padding-x: 0;
$modal-header-border-color: transparent;

/* identicon image size */
identicon {
  .img--lg {
    width: 48px;
    height: 48px;
  }
  .img--sm {
    width: 24px;
    height: 24px;
  }
}

/* sets the color of the nav link inside tabs to primary-dark */
tabset {
  .nav-link {
    color: var(--primary-dark);
  }
}

/* font family & weight of secondary colored text */
.text-secondary {
  font-family: 'Manrope-Light', sans-serif;
  font-weight: 200;
}

/* removes focus border of items */
:focus {
  outline: none;
}

.card,
.dropdown-menu {
  box-shadow: $box-shadow;
}

/* card specific styling */
.card {
  .card-title {
    text-transform: uppercase;
    font-size: 14px;
    color: var(--secondary);
  }
  .card-header,
  .table thead th,
  .table > tbody > tr:first-child > td {
    border: none;
  }
}

.typeahead {
  // background-color: rgb(243, 3, 3) !important;
  min-width: 250px;
}

typeahead-container {
  min-height: 100% !important;

  overflow: visible !important;
}

@import '../node_modules/bootstrap/scss/bootstrap';
