<div class="mb-5 pt-5">
  <div class="container p-0">
    <div class="row">
      <div class="col-lg-6 mb-4 mb-lg-0">
        <div class="card h-100 pt-3">
          <div class="card-body p-4 ">
            <div class="row">
              <div class="col-10">
                <h5 class="card-title mb-4">
                  Tezos Node Health
                </h5>
              </div>
              <div class="col-2 d-flex justify-content-end">
                <!--TODO: set class set class bg-danger and remove bg-success if time is bigger than 4mins-->
                <div class="health--indicator bg-success rounded"></div>
              </div>
            </div>
            <div class="row mb-3">
              <div class=" col-md-5">
                <p class="text-secondary mb-0">Status</p>
              </div>
              <div class="col-md-7 d-flex justify-content-sm-end">
                <!--TODO: status Up/Down-->
                <p class="m-0">Up</p>
              </div>
            </div>
            <div class="row mb-3">
              <div class=" col-md-5">
                <p class="text-secondary mb-0">Latest Block Seen</p>
              </div>
              <div class="col-md-7 d-flex justify-content-sm-end">
                <!--TODO: add latest block time from node-->
                <p class="m-0">12minutes ago</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class=" col-lg-6 mb-4 mb-lg-0">
        <div class="card h-100 pt-3">
          <div class="card-body p-4">
            <div class="row">
              <div class="col-10">
                <h5 class="card-title mb-4">
                  Conseil Health
                </h5>
              </div>
              <div class="col-2 d-flex justify-content-end">
                <!--TODO: set class set class bg-danger and remove bg-success if time is bigger than 4mins-->
                <div class="health--indicator bg-success rounded"></div>
              </div>
            </div>
            <div class="row mb-3">
              <div class=" col-md-5">
                <p class="text-secondary mb-0">Status</p>
              </div>
              <div class="col-md-7 d-flex justify-content-sm-end">
                <!--TODO: status Up/Down-->
                <p class="m-0">Up</p>
              </div>
            </div>
            <div class="row mb-3">
              <div class=" col-md-5">
                <p class="text-secondary mb-0">Latest Block Seen</p>
              </div>
              <div class="col-md-7 d-flex justify-content-sm-end">
                <!--TODO: add latest block time from Conseil-->
                <p class="m-0">12minutes ago</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
