<div class="card h-100 pt-3">
  <div class="card-body p-4 d-flex flex-column">
    <div class="row">
      <div class="col-12 mb-4 wallet--img__container d-flex align-items-center">
        <img class="wallet__img" [src]="getLogo(ecosystem)" />
      </div>
      <div class="col-12">
        <h4 class="mb-2">
          <strong>{{ ecosystem.title }}</strong>
          <a
            *ngFor="let social of ecosystem.socials"
            class="
              btn btn-sm btn-icon btn-light
              rounded-circle
              ml-1
              d-sm-inline-block
            "
            [href]="social.url"
            target="_blank"
          >
            <fa-icon
              [icon]="social.type | iconPipe"
              class="text-secondary"
            ></fa-icon>
          </a>
        </h4>

        <p>
          {{ ecosystem.description }}
        </p>
        <div class="d-block my-3">
          <a
            *ngFor="let platform of ecosystem.platforms"
            class="badge badge-pill badge-primary-light mr-1"
            [href]="platform.url"
            target="_blank"
          >
            <fa-icon [icon]="platform.icon | iconPipe" class="mr-1"></fa-icon>
            {{ platform.name }}
          </a>
        </div>
        <div class="row py-3">
          <div class="col-12">
            <strong>{{ 'ecosystem-item.features_label' | translate }}</strong>
          </div>
          <div class="col-12">
            <p>
              <span *ngFor="let feature of ecosystem.features; index as i">
                {{ i > 0 ? ',' : '' }}
                {{ feature }}
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-auto">
      <a
        role="button"
        class="btn btn-primary"
        [href]="ecosystem.downloadLink"
        target="_blank"
      >
        {{ 'ecosystem-item.open_label' | translate }}
        <fa-icon [icon]="'externalLink' | iconPipe" class="ml-1"></fa-icon>
      </a>
    </div>
  </div>
</div>
