<div class="mb-5 pt-5">
  <alert type="primary">
    <h5 class="alert-heading d-inline-block m-0 mr-2 text-dark">tezblock MVP</h5>
    <span class="text-dark d-inline-block">
      this is a initial release with limited functionalities, please report any issue and feedback on
      <a href="https://github.com/airgap-it/tezblock/issues" target="_blank">GitHub</a>
      or to
      <a href="mailto:hi@airgap.it" class="d-inline-block">hi@airgap.it</a>
    </span>
  </alert>
  <div class="card py-4 search--container">
    <div class="card-body p-4 ">
      <h5 class="card-title mb-3 text-primary">
        Explore the Tezos Blockchain
      </h5>
      <div class="input-group input-group-main">
        <input
          [(ngModel)]="searchTerm"
          [typeaheadAsync]="true"
          [typeahead]="dataSource"
          [typeaheadMinLength]="2"
          [typeaheadOptionsLimit]="7"
          typeaheadOptionField="name"
          typeaheadGroupField="type"
          placeholder="Search by Address / Alias / Tx Hash / Block Hash"
          class="form-control form-control--focus-white"
          (keydown.enter)="onKeyEnter(searchTerm)"
        />
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit" (click)="searchService.search(searchTerm)">
            <fa-icon [icon]="'search' | iconPipe" class="text-white  d-inline-block d-sm-none"></fa-icon>
            <span class="d-none d-sm-inline-block">Search</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mb-5">
  <div class="card py-4">
    <div class="card-body p-4 ">
      <div class="container p-0">
        <div class="row justify-content-lg-between">
          <div class="col-md-6 col-lg-4">
            <h5 class="card-title mb-3 ">
              Current Cycle
            </h5>
            <div class="container p-0">
              <div class="row mb-2">
                <div class="col">
                  <p class="m-0">Cycle {{ currentCycle$ | async }}</p>
                </div>
                <div class="col">
                  <ng-container *ngIf="cycleStartingBlockLevel$">
                    <p class="text-right text-secondary m-0 ">
                      {{ cycleStartingBlockLevel$ | async }} -
                      {{ cycleEndingBlockLevel$ | async }}
                    </p>
                  </ng-container>
                </div>
              </div>
            </div>
            <progressbar [value]="cycleProgress$ | async" style="height:6px"></progressbar>
            <div class="mt-2 container">
              <div class="row">
                <div class="col p-0">
                  <p class="m-0">{{ cycleProgress$ | async }}%</p>
                </div>
                <div class="col p-0">
                  <div class="float-right">
                    <p class="m-0">{{ remainingTime$ | async }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 col-xl-2 p-sm-0 p-3">
            <div class="mb-3">
              <h5 class="card-title mb-3 ">
                Circulating Supply
              </h5>
              <h3>806,714,596 ꜩ</h3>
              <!--TODO-->
            </div>

            <h5 class="card-title mb-3 ">
              Market Cap
            </h5>
            <h3 *ngIf="fiatInfo$ | async as fiatInfo">{{ fiatInfo.symbol }}{{ fiatInfo.price.times('806714596').toFormat(0) }}</h3>
          </div>
          <div class=" col-md-6 col-lg-4">
            <h5 class="card-title mb-3">
              Tezos Price Last 24h
            </h5>
            <ng-container *ngIf="fiatInfo$">
              <ng-container *ngIf="cryptoInfo$">
                <h3 class="mb-0 mr-1 d-inline-block">{{ (fiatInfo$ | async).symbol }}{{ (fiatInfo$ | async).price }}</h3>
                <p class="text-secondary d-inline-block">
                  at {{ (cryptoInfo$ | async).price }} {{ (cryptoInfo$ | async).symbol }}
                  <ng-container *ngIf="percentage$ | async as percentage">
                    <ng-container *ngIf="percentage >= 0">
                      <span class="text-primary ml-1">(+{{ percentage | number: '1.0-3' }} %)</span>
                    </ng-container>
                    <ng-container *ngIf="percentage < 0">
                      <span class="text-danger ml-1">({{ percentage | number: '1.0-3' }} %)</span>
                    </ng-container>
                  </ng-container>
                </p>
              </ng-container>
            </ng-container>
            <pricechart-item></pricechart-item>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container p-0 my-5">
    <div class="row">
      <div class=" col-lg-6 mb-4 mb-lg-0">
        <div class="card py-4 h-100">
          <div class="card-body p-4 ">
            <h5 class="card-title mb-3 ">
              Latest Blocks
            </h5>
            <block-item [blocks$]="blocks$"></block-item>
            <button type="button" [routerLink]="['/block/list']" class="btn btn-primary-light btn-sm btn-block">
              All Blocks
            </button>
          </div>
        </div>
      </div>
      <div class=" col-lg-6 mb-4 mb-lg-0">
        <div class="card py-4 h-100">
          <div class="card-body p-4">
            <h5 class="card-title mb-3 ">
              Latest Transactions
            </h5>
            <transaction-item [data]="transactions$"></transaction-item>
            <button type="button" [routerLink]="['/transaction/list']" class="btn btn-primary-light btn-sm btn-block">
              All Transactions
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
