::ng-deep app-dashboard {
  .search--container {
    background: linear-gradient(-180deg, rgba(91, 148, 255, 0.2) 0%, rgba(46, 91, 255, 0.2) 100%);
  }
  .card.latest {
    min-height: 630px;
  }
  .card-title__secondary {
    button:not(:first-child) {
      margin-left: 3px;
    }
  }
}