<div class="mb-5 pt-5">
  <!-- Alert - currently hidden
  <alert type="primary">
    <h5 class="alert-heading d-inline-block m-0 mr-2 text-dark">tezblock MVP</h5>
    <span class="text-dark d-inline-block">
      this is a initial release with limited functionalities, please report any issue and feedback on
      <a href="https://github.com/airgap-it/tezblock/issues" target="_blank">GitHub</a>
      or to
      <a href="mailto:hi@airgap.it" class="d-inline-block">hi@airgap.it</a>
    </span>
  </alert>
  -->
  <div class="row mb-5">
    <div class="col-md-8 mb-3 mb-md-0">
      <div class="card py-4 search--container h-100">
        <div class="card-body p-4 d-flex flex-column justify-content-center">
          <h5 class="card-title mb-3 text-primary">
            {{ 'dashboard.explore' | translate }}
          </h5>
          <app-search-item buttonLabel="{{ 'search-item.label' | translate }}"></app-search-item>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body p-4">
          <small class="text-muted">Sponsored</small>
          <p class="mb-3">Delegating crypto was never so easy!</p>
          <p class="m-0">
            <a href="https://airgap.it?source=tezblock" target="_blank">AirGap</a>
            the self-custody solution offers One-click delegation to the baker of your choice. The AirGap wallet was designed to store Tezos
            in an easy and safe manner. AirGap is an OpenSource wallet made for the people!
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-5">
    <div class="card py-4">
      <div class="card-body p-4">
        <div class="container p-0">
          <div class="row justify-content-lg-between">
            <div class="col-md-6 col-lg-4">
              <div class="mb-4">
                <h5 class="card-title__secondary mb-3">
                  {{ 'dashboard.current-cycle' | translate }}
                </h5>
                <div class="container p-0">
                  <div class="row mb-2">
                    <div class="col">
                      <p class="m-0">{{ 'dashboard.cycle' | translate }} {{ currentCycle$ | async }}</p>
                    </div>
                    <div class="col">
                      <ng-container *ngIf="cycleStartingBlockLevel$">
                        <p class="text-right text-secondary m-0">
                          {{ cycleStartingBlockLevel$ | async }} -
                          {{ cycleEndingBlockLevel$ | async }}
                        </p>
                      </ng-container>
                    </div>
                  </div>
                </div>
                <progressbar [value]="cycleProgress$ | async" style="height: 6px"></progressbar>
                <div class="mt-2 container">
                  <div class="row">
                    <div class="col p-0">
                      <p class="m-0">{{ cycleProgress$ | async }}%</p>
                    </div>
                    <div class="col p-0">
                      <div class="float-right">
                        <p class="m-0">{{ remainingTime$ | async }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <h5 class="card-title__secondary mb-3">
                {{ 'dashboard.governance' | translate }}
              </h5>
              <p>
                {{ currentPeriodKind$ | async }} {{ 'dashboard.period' | translate }}
                {{ (currentPeriodTimespan$ | async)?.end | amDateFormat: 'LL' }}
              </p>
              <progressbar [value]="25 * (currentPeriodIndex$ | async)" style="height: 6px" class="my-2"></progressbar>
              <div class="mt-2 container">
                <div class="row">
                  <div class="col-9 p-0">
                    <app-hash-cell
                      [data]="'PsFLorenaUUuikDWvMDr6fGBRG8kt3e3D3fHoXK1j1BFRxeSH4i'"
                      [options]="{ kind: 'proposal' }"
                    ></app-hash-cell>
                    <!-- TODO: need to be fixed
                    <app-hash-cell
                      *ngIf="proposalHash$ | async as proposalHash"
                      [options]="{ kind: 'proposal' }"
                    ></app-hash-cell>
                    <ng-container *ngIf="(proposalHash$ | async) === null">
                      <p class="text-secondary m-0">{{ 'dashboard.no-proposal' | translate }}</p>
                    </ng-container>
                  --></div>
                  <div class="col col-3 p-0">
                    <div class="float-right">
                      <p class="m-0">{{ currentPeriodIndex$ | async }} {{ 'dashboard.of' | translate }} 5</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="pt-3" *ngIf="showRolls$ | async">
                <p class="pr-3 m-0 d-inline-block">
                  <fa-icon [icon]="'thumbsUp' | iconPipe" class="text-primary mr-2"></fa-icon>
                  <strong>{{ yayRollsPercentage$ | async }}%</strong>
                  <span class="text-secondary ml-1">{{ yayRolls$ | async }}</span>
                </p>
                <p class="pr-3 m-0 d-inline-block">
                  <fa-icon [icon]="'thumbsDown' | iconPipe" class="text-primary mr-2"></fa-icon>
                  <strong>{{ nayRollsPercentage$ | async }}%</strong>
                  <span class="text-secondary ml-1">{{ nayRolls$ | async }}</span>
                </p>
                <p class="m-0 d-inline-block">
                  <fa-icon [icon]="'handRock' | iconPipe" class="text-primary mr-1"></fa-icon>
                  <span class="text-secondary ml-1">{{ passRolls$ | async }}</span>
                </p>
              </div>
            </div>
            <ng-container *ngIf="isMainnet()">
              <div class="col-md-6 col-lg-3 col-xl-2 p-sm-0 p-3">
                <div class="mb-3">
                  <h5 class="card-title__secondary mb-3">
                    {{ 'dashboard.circulating-supply' | translate }}
                  </h5>
                  <h3>869,525,397 ꜩ</h3>
                  <!--TODO-->
                </div>

                <h5 class="card-title__secondary mb-3">
                  {{ 'dashboard.market-cap' | translate }}
                </h5>
                <h3 *ngIf="fiatInfo$ | async as fiatInfo">{{ fiatInfo.symbol }}{{ fiatInfo.price.times('869525397').toFormat(0) }}</h3>
              </div>
              <div class="col-md-6 col-lg-4">
                <h5 class="card-title__secondary mb-3">
                  {{ 'dashboard.tezos-price' | translate }}
                  <button
                    type="button"
                    class="btn btn-sm ml-2"
                    [ngClass]="{ 'btn-primary-light': (pricePeriod$ | async) === 0, 'btn-outline-primary': (pricePeriod$ | async) !== 0 }"
                    (click)="changePricePeriod(0)"
                  >
                    {{ 'dashboard.24h_button' | translate }}
                  </button>
                  <button
                    type="button"
                    class="btn btn-sm"
                    [ngClass]="{ 'btn-primary-light': (pricePeriod$ | async) === 1, 'btn-outline-primary': (pricePeriod$ | async) !== 1 }"
                    (click)="changePricePeriod(1)"
                  >
                    {{ 'dashboard.7d_button' | translate }}
                  </button>
                  <button
                    type="button"
                    class="btn btn-sm"
                    [ngClass]="{ 'btn-primary-light': (pricePeriod$ | async) === 2, 'btn-outline-primary': (pricePeriod$ | async) !== 2 }"
                    (click)="changePricePeriod(2)"
                  >
                    {{ 'dashboard.90d_button' | translate }}
                  </button>
                </h5>
                <ng-container *ngIf="fiatInfo$">
                  <ng-container *ngIf="cryptoInfo$">
                    <h3 class="mb-0 mr-1 d-inline-block">{{ (fiatInfo$ | async).symbol }}{{ (fiatInfo$ | async).price }}</h3>
                    <p class="text-secondary d-inline-block">
                      {{ 'dashboard.at' | translate }}
                      {{ (cryptoInfo$ | async).price }} {{ (cryptoInfo$ | async).symbol }}
                      <ng-container *ngIf="percentage$ | async as percentage">
                        <ng-container *ngIf="percentage >= 0">
                          <span class="text-primary ml-1">(+{{ percentage | number: '1.0-3' }} %)</span>
                        </ng-container>
                        <ng-container *ngIf="percentage < 0">
                          <span class="text-danger ml-1">({{ percentage | number: '1.0-3' }} %)</span>
                        </ng-container>
                      </ng-container>
                    </p>
                  </ng-container>
                </ng-container>
                <chart-item
                  *ngIf="priceChartDatasets$ | async"
                  [datasets]="priceChartDatasets$ | async"
                  [labels]="priceChartLabels$ | async"
                ></chart-item>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="container p-0 my-5">
      <div class="row mb-4">
        <div class="col-lg-6 mb-4 mb-lg-0">
          <div class="card latest py-4 h-100">
            <div class="card-body p-4">
              <h5 class="card-title mb-4">
                {{ 'dashboard.latest-blocks' | translate }}
              </h5>
              <block-item [blocks$]="blocks$"></block-item>
              <button type="button" routerLink="/block/list" class="btn btn-primary-light btn-sm btn-block">
                {{ 'dashboard.all-blocks_button' | translate }}
              </button>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mb-4 mb-lg-0">
          <div class="card latest py-4 h-100">
            <div class="card-body p-4">
              <h5 class="card-title mb-4">
                {{ 'dashboard.latest-transactions' | translate }}
              </h5>
              <transaction-item [data]="transactions$"></transaction-item>
              <button type="button" routerLink="/transaction/list" class="btn btn-primary-light btn-sm btn-block">
                {{ 'dashboard.all-transactions_button' | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container p-0 my-5">
      <div class="card py-4 h-100">
        <div class="card-body p-4">
          <div class="row">
            <div class="col-lg-6 pr-3 pr-md-5 pb-5 pb-md-0">
              <h5 class="card-title__secondary mb-3">
                {{ 'dashboard.latest-asset' | translate }}
              </h5>
              <app-latest-contracts [contracts]="contracts$ | async"></app-latest-contracts>
              <button type="button" [routerLink]="['/token-contract/list']" class="btn btn-primary-light btn-sm btn-block">
                {{ 'dashboard.all-assets_button' | translate }}
              </button>
            </div>
            <div class="col-lg-6 pl-3 pl-md-5">
              <h5 class="card-title__secondary mb-3">
                {{ 'dashboard.latest-transfers' | translate }}
              </h5>
              <app-latest-contracts-transactions [contracts]="contracts$ | async"></app-latest-contracts-transactions>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
