::ng-deep app-dashboard {
  .card.latest {
    min-height: 590px;
  }
  .card-title__secondary {
    button:not(:first-child) {
      margin-left: 3px;
    }
  }
  .symbol--container {
    img {
      width: 36px;
      height: 36px;
      border: 2px solid white;
      border-radius: 50%;
      z-index: 1;
      &:nth-child(2) {
        position: relative;
        z-index: 0;
        margin-left: -10px;
      }
    }
  }
}
