<div class="pt-5">
  <div class="container p-0">
    <div class="card h-100 pt-3 ">
      <div class="card-body p-4">
        <h5 class="card-title mb-4 ">
          {{ 'protocol-constants.periods' | translate }}
        </h5>
        <div class="row mb-3">
          <div class="col-md-3">
            <p class="text-secondary mb-0">{{ 'protocol-constants.blocks-per-cycle' | translate }}</p>
          </div>
          <div class="col-md-9">
            {{ (protocolVariables$ | async)?.blocks_per_cycle }}
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-3">
            <p class="text-secondary mb-0">{{ 'protocol-constants.blocks-per-commitment' | translate }}</p>
          </div>
          <div class="col-md-9">
            {{ (protocolVariables$ | async)?.blocks_per_commitment }}
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-3">
            <p class="text-secondary mb-0">{{ 'protocol-constants.blocks-per-roll-snapshot' | translate }}</p>
          </div>
          <div class="col-md-9">
            {{ (protocolVariables$ | async)?.blocks_per_roll_snapshot }}
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-3">
            <p class="text-secondary mb-0">{{ 'protocol-constants.time-between-blocks' | translate }}</p>
          </div>
          <div class="col-md-9">
            {{ (protocolVariables$ | async)?.time_between_blocks }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pt-5">
  <div class="container p-0">
    <div class="card h-100 pt-3 ">
      <div class="card-body p-4">
        <h5 class="card-title mb-4 ">
          {{ 'protocol-constants.rewards' | translate }}
        </h5>
        <div class="row mb-3">
          <div class="col-md-3">
            <p class="text-secondary mb-0">{{ 'protocol-constants.block-security-deposit' | translate }}</p>
          </div>
          <div class="col-md-9">
            <amount-cell
              [data]="(protocolVariables$ | async)?.block_security_deposit"
              [options]="{ showFiatValue: false, maxDigits: 10 }"
            ></amount-cell>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-3">
            <p class="text-secondary mb-0">{{ 'protocol-constants.endorsement-security-deposit' | translate }}</p>
          </div>
          <div class="col-md-9">
            <amount-cell
              [data]="(protocolVariables$ | async)?.endorsement_security_deposit"
              [options]="{ showFiatValue: false, maxDigits: 10 }"
            ></amount-cell>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mb-5 pt-5">
  <div class="container p-0">
    <div class="card h-100 pt-3 ">
      <div class="card-body p-4">
        <h5 class="card-title mb-4 ">
          {{ 'protocol-constants.limits' | translate }}
        </h5>
        <div class="row mb-3">
          <div class="col-md-3">
            <p class="text-secondary mb-0">{{ 'protocol-constants.maximum-revelations-per-block' | translate }}</p>
          </div>
          <div class="col-md-9">
            {{ (protocolVariables$ | async)?.max_revelations_per_block }}
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-3">
            <p class="text-secondary mb-0">{{ 'protocol-constants.maximum-operation-data-length' | translate }}</p>
          </div>
          <div class="col-md-9">
            {{ (protocolVariables$ | async)?.max_revelations_per_block }}
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-3">
            <p class="text-secondary mb-0">{{ 'protocol-constants.hard-gas-limit-per-operation' | translate }}</p>
          </div>
          <div class="col-md-9">
            {{ (protocolVariables$ | async)?.hard_gas_limit_per_operation }}
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-3">
            <p class="text-secondary mb-0">{{ 'protocol-constants.hard-gas-limit-per-block' | translate }}</p>
          </div>
          <div class="col-md-9">
            {{ (protocolVariables$ | async)?.hard_gas_limit_per_block }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
