<div class="mb-5 pt-5">
  <div class="container p-0">
    <div class="card h-100 pt-3">
      <div class="card-body p-4 ">
        <h5 class="card-title mb-3 ">
          <ng-container *ngIf="page === 'transaction' && type === 'overview'">
            Transactions
          </ng-container>
          <ng-container *ngIf="page === 'block'">
            Blocks
          </ng-container>
          <ng-container *ngIf="type === 'activate_account'">
            Activations
          </ng-container>
          <ng-container *ngIf="type === 'origination_overview'">
            Originations
          </ng-container>
          <ng-container *ngIf="type === 'delegation_overview'">
            Delegations
          </ng-container>
          <ng-container *ngIf="type === 'endorsement_overview'">
            Endorsements
          </ng-container>
          <ng-container *ngIf="type === 'ballot_overview'">
            Votes
          </ng-container>
          <ng-container *ngIf="type === 'double_baking_evidence_overview'">
            Double Baking Evidence
          </ng-container>
          <ng-container *ngIf="type === 'double_endorsement_evidence_overview'">
            Double Endorsement Evidence
          </ng-container>
          <ng-container *ngIf="type === 'baker_overview'">
            Bakers
          </ng-container>
        </h5>
        <app-occurrence-statistics
          *ngIf="page === 'transaction' && type === 'overview'"
          label="Transactions Last 24 Hrs"
          [count]="transactionsCountLast24h$ | async"
        ></app-occurrence-statistics>
        <app-occurrence-statistics
          *ngIf="type === 'activate_account'"
          label="Activations Last 24 Hrs"
          [count]="activationsCountLast24h$ | async"
        ></app-occurrence-statistics>
        <app-occurrence-statistics
          *ngIf="type === 'origination_overview'"
          label="Originations Last 24 Hrs"
          [count]="originationsCountLast24h$ | async"
        ></app-occurrence-statistics>
        <div *ngIf="type === 'baker_overview'" class="row">
          <div class="col py-3">
            <ng-container *ngIf="totalActiveBakers$ | async as totalActiveBakers">
              <h5 class="card-title__secondary mb-3 ">
                Total Number of Bakers
              </h5>
              <h3>
                {{ totalActiveBakers }}
                <loading-skeleton *ngIf="(totalActiveBakers$ | async) === undefined" [loadingWidth]="'150px'"></loading-skeleton>
              </h3>
            </ng-container>
          </div>
        </div>
        <div class="row">
          <div class="col px-2">
            <tezblock-table
              [loading]="loading$ | async"
              [data]="data$ | async"
              [page]="page"
              [type]="type"
              [showLoadMoreButton]="true"
              (loadMoreClicked)="loadMore()"
            ></tezblock-table>
          </div>
        </div>
        <ng-template list></ng-template>
      </div>
    </div>
  </div>
</div>
