<div class="mb-5 pt-5">
  <div class="container p-0">
    <div class="card h-100 pt-3">
      <div class="card-body p-4 ">
        <h5 class="card-title mb-3 ">
          <ng-container *ngIf="page === 'transaction' && type === 'overview'">
            Transactions
          </ng-container>
          <ng-container *ngIf="page === 'block'">
            Blocks
          </ng-container>
          <ng-container *ngIf="type === 'activate_account'">
            Activations
          </ng-container>
          <ng-container *ngIf="type === 'origination_overview'">
            Originations
          </ng-container>
          <ng-container *ngIf="type === 'delegation_overview'">
            Delegations
          </ng-container>
          <ng-container *ngIf="type === 'endorsement_overview'">
            Endorsements
          </ng-container>
          <ng-container *ngIf="type === 'double_baking_evidence_overview'">
            Double Baking Evidence
          </ng-container>
          <ng-container *ngIf="type === 'double_endorsement_evidence_overview'">
            Double Endorsement Evidence
          </ng-container>
        </h5>
        <div class="row">
          <div class="col px-2">
            <tezblock-table
              [loading]="loading$"
              [data]="data$"
              [page]="page"
              [type]="type"
              [showLoadMoreButton]="true"
              (loadMoreClicked)="loadMore()"
            ></tezblock-table>
          </div>
        </div>
        <ng-template list></ng-template>
      </div>
    </div>
  </div>
</div>
