<ng-container *ngIf="headerTemplate">
  <ng-container *ngTemplateOutlet="headerTemplate; context: { $implicit: headerContext }"></ng-container>
</ng-container>

<div *ngIf="dataSource.isFilterable" class="input-group input-group-main">
  <input
    class="form-control form-control--focus-white"
    placeholder="Filter by Address"
    [formControl]="filterTerm"
    (keydown.enter)="filter()"
  />
  <div class="input-group-append">
    <button class="btn btn-primary" type="submit" (click)="filter()">
      <fa-icon [icon]="'search' | iconPipe" class="text-white d-inline-block d-sm-none"></fa-icon>
      <span class="d-none d-sm-inline-block">Filter</span>
    </button>
  </div>
</div>
<div class="table-responsive">
  <tezblock-table [columns]="columns" [data]="data$ | async" [pagination]="false"></tezblock-table>
  <div class="w-100 p-0 d-flex justify-content-sm-end">
    <pagination *ngIf="pagination$ | async as pagination"
      [totalItems]="pagination.total"
      (pageChanged)="pageChanged($event)"
      [boundaryLinks]="true"
      [rotate]="true"
      [maxSize]="5"
      nextText=">"
      previousText="<"
      [(ngModel)]="pagination.currentPage"
    ></pagination>
  </div>
</div>
